.box__titlepage {
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: var(--clrwhites);
}
.box__profilemenu {
  background-color: var(--clrdarks6);
  border-radius: 4px;
  padding-bottom: 1rem;

  .box__image {
    padding: 15px;

    .profile-user-img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
      position: relative;
    }

    .avatar-upload {
      position: relative;
      max-width: 205px;
      margin: auto;
      margin-bottom: 20px;

      .avatar-edit {
        position: absolute;
        right: 5px;
        z-index: 1;
        bottom: 0px;
        width: 200px;
        height: 200px;
        border-radius: 100px;

        background: rgb(255, 255, 255);
        background: linear-gradient(
          180deg,
          transparent 0%,
          transparent 70%,
          rgba(0, 0, 0, 0.5) 70%,
          rgba(0, 0, 0, 0.5) 100%
        );
        input {
          display: none;
        }
        label {
          text-align: center;
          display: inline-block;
          width: 100%;
          margin-bottom: 0;
          border-radius: 100%;
          cursor: pointer;
          font-weight: normal;
          background-clip: border-box;
          position: absolute;
          bottom: 20px;
        }
      }
    }
  }

  .box__contentname {
    text-align: center;
    .txt__name {
      font-size: 2.25rem;
      font-weight: 300;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .box__nav {
    ul {
      padding-left: 0;
      .activemenusub {
        background: var(--clrdarks5);
        a {
          color: var(--clrmain);
        }

        .icon1 {
          width: 32px;
          height: 32px;
          background-repeat: no-repeat;
          background-image: url("../img/icon/iconnavprofile/icon-1-active.svg");
          position: relative;
          top: -3px;
        }

        .icon2 {
          width: 27px;
          height: 27px;
          background-repeat: no-repeat;
          background-image: url("../img/icon/iconnavprofile/icon-1-active.svg");
          position: relative;
          top: -3px;
        }

        .icon3 {
          width: 32px;
          height: 32px;
          background-repeat: no-repeat;
          background-image: url("../img/icon/iconnavprofile/icon-3-active.svg");
          position: relative;
          top: -3px;
        }

        .icon4 {
          width: 27px;
          height: 27px;
          background-repeat: no-repeat;
          background-image: url("../img/icon/iconnavprofile/icon-4-active.svg");
          position: relative;
          top: -3px;
        }

        .icon5 {
          width: 32px;
          height: 32px;
          background-repeat: no-repeat;
          background-image: url("../img/icon/iconnavprofile/icon-5-active.svg");
          position: relative;
          top: -3px;
        }
      }

      li {
        list-style: none;
        padding: 15px 15px 10px 15px;
        padding-left: 30px;
        a {
          color: var(--clrwhites);
          display: flex;
        }
      }
    }

    .icon1 {
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-image: url("../img/icon/iconnavprofile/icon-1.svg");
      position: relative;
      top: -3px;
    }

    .icon2 {
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-image: url("../img/icon/iconnavprofile/icon-2.svg");
      position: relative;
      top: -3px;
    }

    .icon3 {
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-image: url("../img/icon/iconnavprofile/icon-3.svg");
      position: relative;
      top: -3px;
    }

    .icon4 {
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-image: url("../img/icon/iconnavprofile/icon-4.svg");
      position: relative;
      top: -3px;
    }

    .icon5 {
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-image: url("../img/icon/iconnavprofile/icon-5.svg");
      position: relative;
      top: -3px;
    }
  }
}

.box__infoorg {
  background: var(--clrdarks6);
  border-radius: 4px;
  padding: 1rem 0;

  .title__box {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    font-weight: 500;
  }

  .box__edit {
    text-align: right;
    padding-right: 1.5rem;

    a {
      color: var(--clrwhites);
    }
  }

  .box__itemsinfo {
    padding: 5px 30px;

    .title__txt {
      color: var(--clrgrays);
      margin-bottom: 0.5rem;
    }
    .title__result {
      margin-bottom: 0.5rem;
    }

    hr {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}
