#spareparts-detail {
  .box__detailnumberpart {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;

    @include breakpoint-down(medium) {
      justify-content: flex-start;
    }

    .txt {
      &__number {
        margin-right: 15px;
        color: var(--clrgrays);

        @include breakpoint-down(last-small) {
          margin-right: 0;
        }

        span {
          color: var(--clrwhites);
        }
      }

      &__date {
        color: var(--clrgrays);
        span {
          color: var(--clrwhites);
        }
      }
    }
  }

  .box__title {
    .text__title {
      color: var(--clrwhites);
      font-size: 2.25rem;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }

    .text__title2 {
      color: var(--clrwhites);
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
  }

  .box__detailrequest {
    .detail {
      &__request {
        color: var(--clrwhites);
        font-size: 1rem;
        font-weight: 400;
      }

      &__date {
        color: var(--clrwhites);
        font-size: 1rem;
        text-align: right;
        font-weight: 400;
      }
    }
  }

  .box__detailall {
    background-color: var(--clrdarks6);
    padding: 30px;
    margin-top: 2rem;
    border-radius: 4px;

    @include breakpoint-down(medium) {
      margin-top: 1rem;
    }

    .hr-spartpartdetail {
      margin-top: 0;
    }

    .box__detail {
      margin-bottom: 1.5rem;

      @include breakpoint-down(medium) {
        margin-bottom: 0;
      }

      .txt__title {
        color: var(--clrgrays);
        font-size: 1rem;
      }

      .txt__detail {
        color: var(--clrwhites);
        font-size: 1rem;
      }

      .overflowimage {
        @include breakpoint-down(medium) {
          overflow: scroll;
        }

        .wrapper__image {
          display: grid;
          grid-template-columns: repeat(5, 1fr);

          @include breakpoint-down(medium) {
            margin-bottom: 1rem;
            width: 700px;
          }

          .box__image {
            padding: 5px;

            img {
              background-color: var(--clrdarks7);
              border-radius: 5px;
            }
          }
        }
      }
    }
  }

  .box__product {
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;

    .box__heading {
      background-color: var(--clrdarks5);
      padding: 10px 20px;

      @include breakpoint-down(medium) {
        padding: 10px 15px;
      }

      .box__model {
        img {
          width: 40px;
        }

        .txt {
          &__model {
            color: var(--clrblue);
            display: inline-block;
            font-size: 1rem;
            margin-left: 5px;
            margin-bottom: 0;
          }

          &__idshop {
            display: inline-block;
            font-size: 1rem;
            margin-left: 10px;
            color: var(--clrwhites);
            margin-bottom: 0;
          }

          &__verify {
            color: var(--clrblue);
            display: inline-block;
            font-size: 1rem;
            margin-left: 5px;
            margin-bottom: 0;

            @include breakpoint-down(last-small) {
              margin-top: 0.5rem;
            }

            img {
              width: 30px;
              margin-left: 10px;

              @include breakpoint-down(last-small) {
                margin-left: 0;
                width: 25px;
              }
            }
          }
        }
      }

      .box__date {
        text-align: right;

        p {
          color: var(--clrwhites);
          margin-bottom: 0;
          margin-top: 0.5rem;
        }
      }
    }

    .box__content {
      background-color: var(--clrdarks6);
      padding: 20px;

      @include breakpoint-down(medium) {
        padding: 10px 15px;
      }

      .box__date {
        text-align: left;

        p {
          color: var(--clrgrays);
          margin-bottom: 1rem;

          margin-top: 0.5rem;

          @include breakpoint-down(medium) {
            font-size: 0.9875rem;
          }
        }
      }

      .box__model {
        margin-top: 1rem;

        img {
          width: 40px;

          @include breakpoint-down(medium) {
            width: 35px;
          }
        }

        .txt {
          &__model {
            color: var(--clrblue);
            display: inline-block;
            font-size: 1rem;
            margin-left: 5px;
            margin-bottom: 0;
          }

          &__idshop {
            display: inline-block;
            font-size: 1rem;
            margin-left: 10px;
            color: var(--clrwhites);
            margin-bottom: 0;
          }

          &__verify {
            color: var(--clrblue);
            display: inline-block;
            font-size: 1rem;
            margin-left: 5px;
            margin-bottom: 0;

            img {
              width: 30px;
              margin-left: 10px;
            }
          }
        }
      }

      .box__image {
        img {
          @include breakpoint-down(last-small) {
            width: 100%;
          }
        }
      }

      .box__content {
        @include breakpoint-down(medium) {
          padding: 0;
        }

        .title__product {
          font-size: 1.25rem;
          color: var(--clrwhites);
          margin-bottom: 10px;

          @include breakpoint-down(medium) {
            font-size: 1rem;
          }
        }

        .number__product {
          color: var(--clrgrays2);
        }
      }

      .box__detailprice {
        display: flex;
        justify-content: space-between;

        @include breakpoint-down(medium) {
          display: initial;
        }

        .box__price {
          p {
            margin-bottom: 0;
            margin-top: 1.4rem;
            color: var(--clrwhites);
          }
        }

        .box__btn {
          margin-top: 1.2rem;

          @include breakpoint-down(medium) {
            margin-bottom: 1rem;
            margin-top: 0;
          }

          .btn__view {
            border-radius: 5px;
            border: 2px solid var(--clrmain);
            color: var(--clrmain);
            background-color: var(--clrblacks);
            @extend %transition-5;

            @include breakpoint-down(medium) {
              width: 100%;
              padding: 8px;
            }

            &:hover {
              @extend %transition-5;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
