@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clrwhites: #fff;
  --clrblacks: #000;
  --clrblacks2: #050505;
  --clrmain: #e8d95f;
  --clrmain2: #e5d346;
  --clrdarks: #100b07;
  --clrdarks2: #282828;
  --clrdarks3: #545454;
  --clrdarks4: #828282;
  --clrdarks5: #4f4f4f;
  --clrdarks6: #3f3f3f;
  --clrdarks7: #333333;
  --clrdarks8: #595959;
  --clrgrays: #bdbdbd;
  --clrgrays2: #e0e0e0;
  --clrreds: #eb5757;
  --clrfacebook: #1877f2;
  --clrline: #00b900;
  --clrtwitter: #50abf1;
  --clrcopy: #ebeaea;
  --clrblue: #56ccf2;
  --clrgreens2: #6fcf97;
  --header-height: 3rem;
  --nav-width: 68px;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

body, #toTop, .header, .l-navbar, .l-navbar2, .nav_link, .box__editinfoorg .box__btn .btn__back, .box__editinfoorg .box__btn .btn__back:hover, .box__editinfoorg .box__btn .btn__yes, .box__editinfoorg .box__btn .btn__yes:hover, .contentuser .wrapper__add .box__btn .btn__add, .contentuser .wrapper__add .box__btn .btn__add:hover, #myTabContentsetting .form-group .btn__popover, #myTabContentsetting .form-group .btn__popover:hover, #myModal1 .modal-footer .btn__back, #myModal1 .modal-footer .btn__back:hover, #myModal1 .modal-footer .btn__yes, #myModal1 .modal-footer .btn__yes:hover, #myModal2 .modal-footer .btn__back, #myModal2 .modal-footer .btn__back:hover, #myModal2 .modal-footer .btn__yes, #myModal2 .modal-footer .btn__yes:hover, #modalapproval .modal-footer .btn__back, #modalapproval .modal-footer .btn__back:hover, #modalapproval .modal-footer .btn__yes, #modalapproval .modal-footer .btn__yes:hover, #modalviewdetailapp .modal-footer .btn__back, #modalviewdetailapp .modal-footer .btn__back:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif !important;
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, left bottom, to(#373737));
  background: linear-gradient(180deg, #373737 100%);
}

:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}

#toTop {
  padding: 10px 15px;
  border: 4px solid var(--clrmain);
  background-color: var(--clrmain);
  color: var(--whites);
  position: fixed;
  bottom: 15px;
  right: 5px;
  display: none;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  z-index: 1000;
}

#toTop .fa-angle-up {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: weights(bold);
  color: var(--whites);
}

#toTop:hover {
  border: 4px solid var(--clrmain);
  background-color: transparent;
}

#toTop:hover .fa-angle-up {
  color: var(--clrmain);
}

#sec-login1 {
  padding: 100px;
  background-color: #282828;
}

#sec-login1 .box-b-login {
  background-color: #3f3f3f;
  -webkit-box-shadow: rgba(84, 85, 86, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(84, 85, 86, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
  margin: 20px;
}

#sec-login1 .text-log-back {
  background-color: #3f3f3f;
}

#sec-login1 .img-img-log {
  padding-right: 15px;
}

#sec-login1 .h-text-log p {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  margin-top: 30px;
  margin-bottom: 1.5rem;
}

#sec-login1 .tt-text-log p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.15rem;
  margin-bottom: 5px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #bdbdbd;
}

#sec-login1 .tt-text-log2 p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #bdbdbd;
}

#sec-login1 .tt-text-log2 p span {
  color: #eb5757;
  margin-left: 5px;
}

#sec-login1 .text-or-t {
  margin-left: -33px;
  position: relative;
}

#sec-login1 .text-or-t::before {
  position: absolute;
  content: "";
  left: 35px;
  top: 10px;
  background-color: #bdbdbd;
  width: 35%;
  height: 2px;
}

#sec-login1 .text-or-t::after {
  position: absolute;
  content: "";
  right: 35px;
  top: 10px;
  background-color: #bdbdbd;
  width: 35%;
  height: 2px;
}

#sec-login1 .box-backend {
  position: relative;
}

#sec-login1 .box-backend .form-control {
  outline: none;
  border: none !important;
  background-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#sec-login1 .box-backend .box-border {
  border: 2px solid #828282;
  background-color: #333333;
}

#sec-login1 .box-backend .icon-signin {
  margin-top: 0.2rem;
  margin-left: 10px;
}

#sec-login1 .box-backend .icon-key {
  margin-top: 0.2rem;
  margin-left: 10px;
}

#sec-login1 .box-backend .icon-eye {
  margin-top: 0.2rem;
  margin-right: 15px;
}

#sec-login1 .box-backend .icon-eye:hover {
  cursor: pointer;
}

#sec-login1 .t-pass-t {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  /* gold */
  color: #e8d95f;
}

#sec-login1 .input-group > .form-control,
.input-group > .form-select {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  border-top: 2px solid #828282;
  border-left: 2px solid #828282;
  border-right: 2px solid #828282;
  border-bottom: 2px solid #828282;
  background-color: #333333;
  color: white;
  border-radius: 4px;
}

#sec-login1 .input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 91%;
}

.button {
  background-color: #e8d95f;
  color: #282828;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 136px 10px 141px;
}

.button1 {
  background-color: #e8d95f;
  color: black;
  border: 2px solid #e8d95f;
}

.button1:hover {
  background-color: #282828;
  color: #e8d95f;
}

.button2 {
  background-color: #282828;
  color: #e8d95f;
  border: 2px solid #e8d95f;
  padding: 10px 138px 10px 139px;
}

.button2:hover {
  background-color: #e8d95f;
  color: #282828;
}

#sec-login1 .social-log {
  margin-top: 15px;
  margin-left: 101px;
}

#sec-login1 .text-or-t p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120.5%;
  /* identical to box height, or 22px */
  text-align: center;
  color: #bdbdbd;
  margin-top: 20px;
}

/* The Modal (background) */
/* Modal Content */
#modalsuccess .modal-content {
  background-color: #fefefe;
  margin: auto;
  /* padding: 20px;
    border: 1px solid #888;*/
}

/* The Close Button */
#modalsuccess .close {
  color: #000000f2;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 500px;
  margin-top: 10px;
}

#modalsuccess .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modalsuccess p {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  display: block;
  text-align: center;
}

#modalsuccess .modal-footer {
  background-color: #282828;
  padding: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#modalsuccess .modal-header {
  border-bottom: none !important;
}

a {
  text-decoration: none !important;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--clrdarks2);
  z-index: var(--z-fixed);
  height: 50px;
}

.header_toggle {
  color: var(--clrwhites);
  cursor: pointer;
}

.header_toggle img {
  width: 25px;
  margin-left: 2rem;
}

.box__allheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-top: 1.5rem;
}

.box__allheader .iconimage {
  position: relative;
  margin-right: 0.5rem;
}

.box__allheader .iconimage img {
  width: 45px;
  height: 32px;
}

.box__allheader .iconimage .box__number {
  position: absolute;
  right: 0px;
  top: -5px;
  content: "";
}

.box__allheader .iconimage .box__number span {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  padding: 1px;
  font-size: 14px;
  color: var(--clrwhites);
  text-align: center;
  display: inline-block;
  background-color: var(--clrreds);
}

.box__allheader .nav-link {
  color: var(--clrwhites);
  width: auto;
}

.box__allheader .dropdown-menu {
  background: var(--clrdarks2) !important;
  border-radius: 0;
  list-style-type: none;
}

.box__allheader .dropdown-menu li a {
  color: var(--clrwhites) !important;
}

.box__allheader .dropdown-menu li a:hover {
  background-color: transparent;
  color: var(--clrmain);
}

.box__allheader .dropdown-menu li:nth-child(1)::before {
  display: none !important;
}

li {
  list-style-type: none !important;
}

.header_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 1rem;
}

.header_img img {
  width: 30px;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--clrdarks2);
  padding: 0.5rem 1rem 0 0;
  z-index: var(--z-fixed);
}

.l-navbar2 {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--clrdarks6) !important;
  padding: 0.5rem 1rem 0 0;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.nav_list {
  height: 850px;
  overflow-y: scroll;
}

.nav_logo,
.nav_link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  padding: 0.5rem 0 1rem 1.5rem;
}

.nav_logo {
  margin-bottom: 2rem;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--clrwhites);
}

.nav_logo-name {
  color: var(--clrwhites);
  font-weight: 700;
}

.nav_link {
  position: relative;
  color: var(--clrwhites);
}

.nav_link:hover {
  color: var(--clrmain);
}

.nav_icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

.active {
  color: var(--clrmain);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--clrwhites);
}

.suppliler .nav_link {
  color: var(--clrwhites);
}

@media screen and (min-width: 768px) {
  .suppliler {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
    background: var(--clrdarks2) !important;
  }
  .buyer {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
    background: var(--clrdarks2) !important;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .l-navbar2 {
    left: 0;
    padding: 1rem 1rem 0 0;
    width: 100px;
  }
  .show {
    width: calc(var(--nav-width) + 186px);
  }
  .body-pd {
    padding-left: calc(var(--nav-width) + 186px);
  }
}

.box__iconmenu {
  width: 45px;
  height: 24px;
  border-radius: 6px;
  display: inline-block;
  background-color: var(--clrreds);
  color: var(--clrwhites);
  margin-left: 1rem;
  text-align: center;
}

.icondropdown {
  display: inline-block;
  margin-left: 1rem;
}

.content {
  background-color: var(--clrwhites);
  height: 100%;
  min-height: 100vh;
  margin-top: 4rem;
  color: var(--clrwhites);
  padding-left: 0.8rem;
}

.itemdropdown {
  display: none;
  margin-left: 25px;
}

.itemdropdown li {
  padding: 10px;
}

.itemdropdown a {
  color: var(--clrwhites);
}

.itemdropdown a:hover {
  color: var(--clrmain);
}

.itemdropdown.show {
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.activemenusub a {
  color: var(--clrmain);
}

.activemenumain {
  position: relative;
  color: var(--clrmain);
}

.activemenumain::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 13px;
  height: 100%;
  background-color: var(--clrmain);
}

.modal {
  z-index: 999 !important;
}

.modal-backdrop {
  z-index: 998 !important;
}

.content {
  padding: 1rem 2rem;
}

#sec-register {
  padding: 100px;
  background-color: var(--clrdarks2);
  /*---- ปรับ scrollbar ------*/
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  /*---- img upload ------*/
  /*progressbar*/
}

#sec-register .box-b-login {
  background-color: var(--clrdarks6);
  -webkit-box-shadow: rgba(84, 85, 86, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(84, 85, 86, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
  margin: 20px;
}

#sec-register .text-log-back {
  background-color: var(--clrdarks6);
}

#sec-register .text-log-back {
  background-color: #3f3f3f;
}

#sec-register .img-img-log {
  padding-right: 15px;
}

#sec-register .h-text-log p {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  margin-top: 30px;
  margin-bottom: 1.2rem;
}

#sec-register .tt-text-log p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #bdbdbd;
  margin-bottom: 5px;
}

#sec-register .text-t-log p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ff7b7b;
  margin-top: -10px;
}

#sec-register .text-or-t {
  margin-left: -33px;
}

#sec-register .t-pass-t {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  /* gold */
  color: #e8d95f;
}

#sec-register label {
  display: inline-block;
  color: white;
}

#sec-register .input-group > .form-control,
#sec-register .input-group > .form-select {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  border-top: 2px solid #828282;
  border-left: 2px solid #828282;
  border-right: 2px solid #828282;
  border-bottom: 2px solid #828282;
  background-color: #333333;
  color: var(--clrwhites);
  border-radius: 4px;
  margin-right: 2px;
}

#sec-register .form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
}

#sec-register .form-check-input[type="checkbox"] {
  padding: 8px;
}

#sec-register .form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e") !important;
}

#sec-register .input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 91%;
}

#sec-register .button {
  background-color: #e8d95f;
  border: none;
  color: #282828;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  border-radius: 4px;
  cursor: pointer;
  padding: 9px 147px 10px 141px;
}

#sec-register .button1 {
  background-color: #e8d95f;
  color: black;
  border: 2px solid #e8d95f;
  margin-bottom: 2rem;
}

#sec-register .button1:hover {
  background-color: #282828;
  color: #e8d95f;
}

#sec-register .social-log {
  margin-top: 15px;
  margin-left: 101px;
}

#sec-register .text-or-t p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120.5%;
  /* identical to box height, or 22px */
  text-align: center;
  color: #bdbdbd;
  margin-top: 20px;
}

#sec-register .box-b-detail {
  padding: 15px;
}

#sec-register .box-b-detailradio {
  padding: 15px 15px 5px 15px;
}

#sec-register fieldset::-webkit-scrollbar {
  width: 8px;
}

#sec-register fieldset::-webkit-scrollbar-track {
  background-color: #dddddd;
  border-radius: 100px;
}

#sec-register fieldset::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 100px;
}

#sec-register fieldset::-webkit-scrollbar-thumb {
  background-color: #5d5b59;
  border-radius: 100px;
}

#sec-register .box__drop {
  border: 1px solid var(--clrdarks4);
  border-radius: 4px;
  background: var(--clrdarks7);
  padding: 15px 5px;
}

#sec-register .box__drop i {
  font-size: 35px;
}

#sec-register .drop-zone {
  max-width: 156px;
  height: 158px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  background-color: #ffffff0f;
  /* border: 4px dashed #009578; */
  border-radius: 10px;
  margin-left: 91px;
}

#sec-register .drop-zone p {
  font-size: 13px;
  font-family: "Prompt", sans-serif;
  color: white;
  margin-top: 5px;
}

#sec-register .drop-zone .tt-img-detail p {
  font-size: 13px;
  font-family: "Prompt", sans-serif;
  color: #cccccc;
  margin-top: -14px;
}

#sec-register .drop-zone--over {
  border-style: solid;
}

#sec-register .drop-zone__input {
  display: none;
}

#sec-register .drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

#sec-register .drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

#sec-register .form-check-input:checked {
  background: var(--clrwhites);
  border-color: var(--clrwhites);
}

#sec-register .form-check-input:checked[type="radio"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='black'/%3e%3c/svg%3e") !important;
}

#sec-register .dot__color {
  color: var(--clrreds);
  margin-left: 5px;
}

#sec-register #progressbar {
  margin-bottom: 30px;
  height: 50px;
}

#sec-register #progressbar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sec-register #progressbar li .menu-top {
  position: relative;
}

#sec-register #progressbar li p {
  position: relative;
  bottom: -45px;
  font-size: 0.875rem;
  color: var(--clrwhites);
}

#sec-register .box__border {
  position: absolute;
  content: "";
  width: 45px;
  top: -5px;
  height: 45px;
  padding: 5px;
  border-radius: 50px;
  line-height: 10px;
  display: block;
  font-size: 15px;
  color: var(--clrdarks7);
  background: var(--clrdarks5);
  margin: 0 auto 5px auto;
  z-index: 2;
}

#sec-register .box__border .icon1 {
  background-image: url("../img/login/icon-survey.svg");
  width: 100%;
  height: 100%;
}

#sec-register .box__border .icon2 {
  background-image: url("../img/login/icon-call.svg");
  width: 100%;
  height: 100%;
}

#sec-register .box__border .icon3 {
  background-image: url("../img/login/icon-price.svg");
  width: 100%;
  height: 100%;
}

#sec-register #progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  text-align: center;
}

#sec-register #progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--clrgrays);
  position: absolute;
  left: -50%;
  top: 15px;
  z-index: 1;
}

#sec-register #progressbar li:first-child:after {
  content: none;
}

#sec-register #progressbar li.active:before,
#sec-register #progressbar li.active:after {
  background: var(--clrmain);
  color: var(--clrwhites);
}

#sec-register .drop2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sec-register .drop2 .drop-zone {
  margin-left: 8px;
}

#sec-register .btn-modal {
  background-color: transparent;
  color: var(--clrwhites);
  border: none;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  position: relative;
  top: -5px;
}

#sec-register #Modalview .modal-content {
  background-color: var(--clrdarks6);
  margin: auto;
  border-radius: 4px;
}

#sec-register #Modalview .modal-header {
  border-bottom: none !important;
}

#sec-register #Modalview .btn-close {
  color: #fff !important;
}

#sec-register #Modalview .close:hover,
#sec-register #Modalview .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#sec-register .contenttab {
  display: none;
}

#sec-register .on {
  display: block !important;
}

#msform {
  position: relative;
}

#msform fieldset {
  border: 0 none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 95%;
  position: relative;
  overflow-y: scroll;
  height: 400px;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform .action-button {
  width: 100px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
          box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}

#msform .fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}

#msform .fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

#msform ol,
#msform ul {
  padding-left: 0;
}

#msform .active::before {
  display: none;
}

#msform .active p {
  color: var(--clrmain) !important;
}

#msform .active .box__border {
  background-color: var(--clrmain);
}

#msform .active .box__border .icon2 {
  background-image: url("../img/login/icon-call-active.svg");
  width: 100%;
  height: 100%;
}

#msform .active .box__border .icon3 {
  background-image: url("../img/login/icon-price-active.svg");
  width: 100%;
  height: 100%;
}

.box__contentsetting .box__title {
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: var(--clrdarks6);
}

.box__contentsetting .box__profile {
  background-color: var(--clrdarks6);
  border-radius: 4px;
}

.box__contentsetting .box__profile .box__image {
  padding: 15px;
}

.box__contentsetting .box__profile .box__image .profile-user-img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  position: relative;
}

.box__contentsetting .box__profile .box__image .avatar-upload {
  position: relative;
  max-width: 205px;
  margin: auto;
  margin-bottom: 20px;
}

.box__contentsetting .box__profile .box__image .avatar-upload .avatar-edit {
  position: absolute;
  right: 5px;
  z-index: 1;
  bottom: 0px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), color-stop(70%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(180deg, transparent 0%, transparent 70%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.5) 100%);
}

.box__contentsetting .box__profile .box__image .avatar-upload .avatar-edit input {
  display: none;
}

.box__contentsetting .box__profile .box__image .avatar-upload .avatar-edit label {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  border-radius: 100%;
  cursor: pointer;
  font-weight: normal;
  background-clip: border-box;
  position: absolute;
  bottom: 20px;
}

.box__contentsetting .box__profile .box__contentname {
  text-align: center;
}

.box__contentsetting .box__profile .box__contentname .txt__name {
  font-size: 2.25rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box__contentsetting .box__profile .box__nav ul {
  padding-left: 0;
}

.box__contentsetting .box__profile .box__nav ul .activemenu {
  background: var(--clrdarks5);
}

.box__contentsetting .box__profile .box__nav ul .activemenu a {
  color: var(--clrmain);
}

.box__contentsetting .box__profile .box__nav ul .activemenu .icon1 {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url("../img/setting/icon-user-active.svg");
  margin-left: 5px;
}

.box__contentsetting .box__profile .box__nav ul .activemenu .icon2 {
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-image: url("../img/setting/icon-role-active.svg");
}

.box__contentsetting .box__profile .box__nav ul li {
  list-style: none;
  padding: 15px 15px 10px 15px;
  padding-left: 30px;
}

.box__contentsetting .box__profile .box__nav ul li a {
  color: var(--clrwhites);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box__contentsetting .box__profile .box__nav .icon1 {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url("../img/setting/icon-user.svg");
  margin-left: 5px;
}

.box__contentsetting .box__profile .box__nav .icon2 {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url("../img/setting/icon-role.svg");
}

.box__contentsetting .box__infoorg {
  background: var(--clrdarks6);
  border-radius: 4px;
  padding: 1rem 0;
}

.box__contentsetting .box__infoorg .title__box {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  font-weight: 500;
}

.box__contentsetting .box__infoorg .box__edit {
  text-align: right;
  padding-right: 1.5rem;
}

.box__contentsetting .box__infoorg .box__edit a {
  color: var(--clrwhites);
}

.box__contentsetting .box__infoorg .box__itemsinfo {
  padding: 5px 30px;
}

.box__contentsetting .box__infoorg .box__itemsinfo .title__txt {
  color: var(--clrgrays);
  margin-bottom: 0.5rem;
}

.box__contentsetting .box__infoorg .box__itemsinfo .title__result {
  margin-bottom: 0.5rem;
}

.box__contentsetting .box__infoorg .box__itemsinfo hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.content {
  padding: 1rem 2rem;
}

.box__editinfoorg .groupedit1 .title__txt {
  font-size: 1.25rem;
  color: var(--clrdarks6);
}

.box__editinfoorg .groupedit1 .itemsorg {
  background-color: var(--clrdarks6);
  padding: 15px 30px;
}

.box__editinfoorg .groupedit1 .itemsorg .form-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box__editinfoorg .groupedit1 .itemsorg .form-group label {
  margin-bottom: 0.5rem;
}

.box__editinfoorg .groupedit1 .itemsorg .form-group .form-control {
  border-radius: 4px !important;
  background-color: var(--clrdarks7) !important;
  border: 1px solid var(--clrdarks4) !important;
  color: var(--clrwhites);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.box__editinfoorg .groupedit1 span {
  color: var(--clrreds);
}

.box__editinfoorg .groupedit2 .title__txt {
  font-size: 1.25rem;
  margin-top: 1rem;
  color: var(--clrdarks6);
}

.box__editinfoorg .groupedit2 span {
  color: var(--clrreds);
}

.box__editinfoorg .groupedit2 .itemsorg {
  background-color: var(--clrdarks6);
  padding: 15px 30px;
}

.box__editinfoorg .groupedit2 .itemsorg .form-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box__editinfoorg .groupedit2 .itemsorg .form-group label {
  margin-bottom: 0.5rem;
}

.box__editinfoorg .groupedit2 .itemsorg .form-group textarea {
  height: 150px;
}

.box__editinfoorg .groupedit2 .itemsorg .form-group .form-control {
  border-radius: 4px !important;
  background-color: var(--clrdarks7) !important;
  border: 1px solid var(--clrdarks4) !important;
  color: var(--clrwhites);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.box__editinfoorg .groupedit2 .itemsorg .form-group .form-select {
  border-radius: 4px !important;
  background-color: var(--clrdarks7) !important;
  border: 1px solid var(--clrdarks4) !important;
  color: var(--clrwhites);
  -webkit-box-shadow: none;
          box-shadow: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.box__editinfoorg .box__btn {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.box__editinfoorg .box__btn .btn__back {
  color: var(--clrwhites);
  background-color: var(--clrdarks5);
  border-radius: 4px;
  border: 1px solid var(--clrdarks5);
  padding: 7px 2rem;
  margin-right: 10px;
}

.box__editinfoorg .box__btn .btn__back:hover {
  background-color: transparent;
  color: var(--clrdarks6);
}

.box__editinfoorg .box__btn .btn__yes {
  background-color: var(--clrmain);
  border-radius: 4px;
  border: 1px solid var(--clrmain);
  padding: 7px 2rem;
}

.box__editinfoorg .box__btn .btn__yes:hover {
  background-color: transparent;
  color: var(--clrmain);
}

.contentuser .wrapper__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1rem;
}

.contentuser .wrapper__add .box__btn {
  width: 12%;
}

.contentuser .wrapper__add .box__btn .btn__add {
  color: var(--clrdarks2);
  background-color: var(--clrmain);
  border-radius: 4px;
  border: 1px solid var(--clrmain);
}

.contentuser .wrapper__add .box__btn .btn__add:hover {
  color: var(--clrmain);
  background-color: transparent;
}

.contentuser .wrapper__add .box__search {
  width: 88%;
}

.contentuser .wrapper__add .box__search .form-control {
  background-color: var(--clrdarks5);
  border-radius: 4px;
  color: var(--clrwhites);
  border: 1px solid var(--clrdarks5);
}

.contentuser .wrapper__add .box__search .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contentuser .wrapper__add .box__search .form-control::-webkit-input-placeholder {
  color: var(--clrwhites);
  font-weight: 300;
}

.contentuser .wrapper__add .box__search .form-control:-ms-input-placeholder {
  color: var(--clrwhites);
  font-weight: 300;
}

.contentuser .wrapper__add .box__search .form-control::-ms-input-placeholder {
  color: var(--clrwhites);
  font-weight: 300;
}

.contentuser .wrapper__add .box__search .form-control::placeholder {
  color: var(--clrwhites);
  font-weight: 300;
}

.contentuser .wrapper__add .box__search .btn__search {
  color: var(--clrwhites);
  background-color: var(--clrdarks5);
}

.contentuser .wrapper__add .box__search .btn__search:hover {
  border-color: transparent;
}

.contentuser .box__infoorg {
  padding: 15px;
}

.contentuser .box__infoorg .nav {
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.contentuser .box__infoorg .nav-tabs .nav-link {
  color: var(--clrwhites);
  width: 100%;
  text-align: left;
  margin-bottom: 0.5rem;
}

.contentuser .box__infoorg .nav-tabs .nav-link:hover,
.contentuser .box__infoorg .nav-tabs .nav-link:focus {
  background-color: var(--clrdarks5);
  color: var(--clrmain);
  border: 1px solid transparent;
  border-radius: 50px;
}

.contentuser .box__infoorg .nav-tabs .nav-link.active,
.contentuser .box__infoorg .nav-tabs .nav-item.show .nav-link {
  width: 100%;
  background-color: var(--clrdarks5);
  color: var(--clrmain);
  border: 1px solid transparent;
  border-radius: 50px;
  text-align: left;
}

.contentuser .box__infoorg .tab-left {
  border-right: 1px solid var(--clrdarks5);
  padding: 5px;
  border-bottom: 0;
}

.contentuser .tab-content > .active {
  width: 100% !important;
}

.contentuser #tabright .nav-tabs .nav-link.active,
.contentuser #tabright .nav-tabs .nav-item.show .nav-link {
  background-color: transparent;
  border-bottom: 4px solid var(--clrmain);
  border-radius: 0;
}

.contentuser #tabright .nav-tabs .nav-link {
  border-bottom: 4px solid var(--clrwhites);
}

.contentuser #tabright .nav-tabs .nav-link:hover,
.contentuser #tabright .nav-tabs .nav-link:focus {
  background-color: transparent;
  border-radius: 0;
  border-bottom: 4px solid var(--clrmain);
}

.contentuser #tabright .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 0;
}

.contentuser #tabright .btn__addmember {
  position: absolute;
  right: 2%;
  width: auto;
}

#myTabContentsetting .form-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#myTabContentsetting .form-group label {
  margin-bottom: 0.5rem;
  color: var(--clrgrays);
  display: block;
}

#myTabContentsetting .form-group .form-control {
  background-color: var(--clrdarks5);
  border-radius: 4px;
  color: var(--clrwhites);
  border: 1px solid var(--clrdarks5);
  width: 30%;
  display: inline-block;
}

#myTabContentsetting .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#myTabContentsetting .form-group .form-control::-webkit-input-placeholder {
  color: var(--clrwhites);
  font-weight: 300;
}

#myTabContentsetting .form-group .form-control:-ms-input-placeholder {
  color: var(--clrwhites);
  font-weight: 300;
}

#myTabContentsetting .form-group .form-control::-ms-input-placeholder {
  color: var(--clrwhites);
  font-weight: 300;
}

#myTabContentsetting .form-group .form-control::placeholder {
  color: var(--clrwhites);
  font-weight: 300;
}

#myTabContentsetting .form-group .btn__popover {
  display: inline;
  background-color: var(--clrmain);
}

#myTabContentsetting .form-group .btn__popover:hover {
  color: var(--clrmain);
  background-color: transparent;
}

#myTabContentsetting .box__contentsetting .contentswitch .txt__title {
  font-size: 1.5rem;
  color: var(--clrwhites);
}

#myTabContentsetting .box__contentsetting .contentswitch .txt__subtitle {
  color: var(--clrwhites);
  margin-bottom: 2px;
}

#myTabContentsetting .box__contentsetting .contentswitch .form-switch {
  float: right;
}

#myTabContentsetting .box__contentsetting .contentswitch .box__content {
  margin-bottom: 1.2rem;
}

#myTabContentsetting .box__contentsetting .contentswitch .box__content p {
  color: var(--clrwhites);
  font-weight: 300;
}

#myTabContentsetting .box__contentsetting .contentswitch .box__content hr {
  border-color: var(--clrdarks5);
}

#myModal1 .modal-content {
  background-color: var(--clrdarks2);
}

#myModal1 .modal-header {
  border-bottom: 0;
  color: var(--clrwhites);
  padding-bottom: 0;
}

#myModal1 .modal-header h3 {
  margin-bottom: 0;
}

#myModal1 .modal-body {
  background-color: var(--clrdarks6);
  margin: 15px;
}

#myModal1 .modal-body .form-group {
  margin-top: 0.5rem;
}

#myModal1 .modal-body .form-group label {
  margin-bottom: 0.5rem;
  color: var(--clrwhites);
}

#myModal1 .modal-body .input-group {
  margin-top: 1.5rem;
}

#myModal1 .modal-body .form-switch label {
  margin-top: 0.5rem;
  color: var(--clrwhites);
  margin-bottom: 0.5rem;
}

#myModal1 .modal-body .form-switch .form-check label {
  margin-top: 0;
  color: var(--clrwhites);
  margin-bottom: 0.5rem;
}

#myModal1 .modal-body .form-control {
  background-color: var(--clrdarks5);
  border-radius: 4px;
  color: var(--clrwhites);
  border: 1px solid var(--clrdarks5);
}

#myModal1 .modal-body .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#myModal1 .modal-body .form-control::-webkit-input-placeholder {
  color: var(--clrwhites);
  font-weight: 300;
}

#myModal1 .modal-body .form-control:-ms-input-placeholder {
  color: var(--clrwhites);
  font-weight: 300;
}

#myModal1 .modal-body .form-control::-ms-input-placeholder {
  color: var(--clrwhites);
  font-weight: 300;
}

#myModal1 .modal-body .form-control::placeholder {
  color: var(--clrwhites);
  font-weight: 300;
}

#myModal1 .modal-footer {
  border-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#myModal1 .modal-footer .btn__back {
  color: var(--clrwhites);
  background-color: var(--clrdarks5);
  border-radius: 4px;
  border: 1px solid var(--clrdarks5);
  padding: 7px 2rem;
}

#myModal1 .modal-footer .btn__back:hover {
  background-color: transparent;
  color: var(--clrwhites);
}

#myModal1 .modal-footer .btn__yes {
  background-color: var(--clrmain);
  border-radius: 4px;
  border: 1px solid var(--clrmain);
  padding: 7px 2rem;
}

#myModal1 .modal-footer .btn__yes:hover {
  background-color: transparent;
  color: var(--clrmain);
}

#myModal1 .btn__setpermission {
  background-color: var(--clrdarks7);
  border: 1px solid var(--clrdarks4);
  color: var(--clrwhites);
}

#myModal2 .modal-content {
  background-color: var(--clrdarks2);
}

#myModal2 .modal-header {
  border-bottom: 0;
  color: var(--clrwhites);
  padding-bottom: 0;
}

#myModal2 .modal-header h3 {
  margin-bottom: 0;
}

#myModal2 .modal-body .form-check {
  margin-top: 1.2rem;
}

#myModal2 .modal-body .form-check label {
  color: var(--clrwhites);
  margin-bottom: 5px;
  margin-top: 5px;
}

#myModal2 .modal-body .form-check .form-check-input {
  width: 1.5em;
  height: 1.5em;
  margin-right: 15px;
}

#myModal2 .modal-footer {
  border-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#myModal2 .modal-footer .btn__back {
  color: var(--clrwhites);
  background-color: var(--clrdarks5);
  border-radius: 4px;
  border: 1px solid var(--clrdarks5);
  padding: 7px 2rem;
}

#myModal2 .modal-footer .btn__back:hover {
  background-color: transparent;
  color: var(--clrwhites);
}

#myModal2 .modal-footer .btn__yes {
  background-color: var(--clrmain);
  border-radius: 4px;
  border: 1px solid var(--clrmain);
  padding: 7px 2rem;
}

#myModal2 .modal-footer .btn__yes:hover {
  background-color: transparent;
  color: var(--clrmain);
}

.tablestyle thead {
  color: var(--clrgrays);
  border-bottom: 2px solid var(--clrgrays);
}

.tablestyle td {
  color: var(--clrwhites);
}

.tablestyle .table > :not(caption) > * > * {
  border-bottom-width: 0.5px;
  border-color: var(--clrdarks4);
}

.tablestyle .form-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tablestyle .dropdown-toggle::after {
  display: none;
}

.tablestyle .dropdown-toggle {
  width: 30px;
  height: 30px;
  background-color: var(--clrdarks4);
  border-radius: 50px;
  padding: 2px;
  display: inline-block;
}

.tablestyle .dropdown-toggle svg {
  color: var(--clrwhites);
}

.tablestyle .dropdown-menu.show {
  background-color: var(--clrdarks4);
  color: var(--clrwhites);
  width: auto;
}

.tablestyle .dropdown-item {
  color: var(--clrwhites);
}

.tablestyle .dropdown-item:hover {
  background-color: transparent;
  color: var(--clrmain);
}

.tablestyle .dropdown-item:focus {
  background-color: transparent;
}

.tablestyle .box__nouser p {
  margin-bottom: 0;
}

.popover-body {
  background-color: var(--clrmain) !important;
  border-radius: 0;
  font-family: "Kanit", sans-serif;
  color: var(--clrdarks8);
  font-size: 1.15rem;
}

.bs-popover-bottom > .popover-arrow::after,
.bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::after {
  border-bottom-color: var(--clrmain) !important;
}

.box__approvel .txt__page {
  margin-top: 2rem;
  color: var(--clrdarks6);
  margin-bottom: 2rem;
}

.box__approvel .box__filter {
  background-color: var(--clrdarks6);
  border-radius: 4px;
  padding: 1rem 1rem 2rem 1rem;
}

.box__approvel .box__filter .form-control:focus {
  border-right: none !important;
}

.box__approvel .box__filter .wrapper__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box__approvel .box__filter .wrapper__form .box__search {
  width: 40%;
  padding: 0 10px;
}

.box__approvel .box__filter .wrapper__form .box__search label {
  color: var(--clrgrays);
  margin-top: 0.5rem;
}

.box__approvel .box__filter .wrapper__form .box__search .input-group {
  margin-top: 0.5rem;
}

.box__approvel .box__filter .wrapper__form .box__search .input-group .btn__search {
  background-color: var(--clrdarks5) !important;
  border: 1px solid var(--clrgrays) !important;
  color: var(--clrwhites);
  border-left: none !important;
  position: relative;
  left: -1.5px;
}

.box__approvel .box__filter .wrapper__form .box__search .input-group svg {
  color: var(--clrwhites);
}

.box__approvel .box__filter .wrapper__form .box__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

.box__approvel .box__filter .wrapper__form .box__radio .form-check {
  margin: 0 10px;
}

.box__approvel .box__filter .wrapper__form .box__radio .form-check .form-check-input {
  width: 1.5em;
  height: 1.5em;
  margin-right: 10px;
}

.box__approvel .box__filter .wrapper__form .box__radio .form-check .form-check-label {
  margin-top: 0.2rem;
}

.box__approvel .box__table {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--clrdarks6);
  padding: 15px;
  border-radius: 4px;
}

.box__approvel .box__table .circle {
  border-radius: 6px;
  background-color: var(--clrwhites);
  color: var(--clrdarks2);
  padding: 1px 10px;
  margin-left: 5px;
}

.box__approvel .box__table .nav {
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.box__approvel .box__table .nav-tabs .nav-link.active,
.box__approvel .box__table .nav-tabs .nav-item.show .nav-link {
  background-color: transparent;
  border-bottom: 4px solid var(--clrmain) !important;
  border-radius: 0;
  border: 1px solid transparent;
  color: var(--clrmain);
}

.box__approvel .box__table .nav-tabs .nav-link.active .circle,
.box__approvel .box__table .nav-tabs .nav-item.show .nav-link .circle {
  border-radius: 6px;
  background-color: var(--clrreds);
  color: var(--clrwhites);
}

.box__approvel .box__table .nav-tabs .nav-link {
  border-bottom: 4px solid var(--clrdarks4) !important;
  color: var(--clrwhites);
}

.box__approvel .box__table .nav-tabs .nav-link:hover,
.box__approvel .box__table .nav-tabs .nav-link:focus {
  border: 1px solid transparent !important;
  background-color: transparent !important;
  border-radius: 0 !important;
  border-bottom: 4px solid var(--clrmain) !important;
}

.box__approvel .box__table .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 0;
}

.box__approvel .box__table .table {
  color: var(--clrwhites);
  margin-top: 1rem;
  border: 1px solid var(--clrdarks5);
}

.box__approvel .box__table .table thead {
  background-color: var(--clrdarks7);
  border: 1px solid var(--clrdarks5);
  border-radius: 4px;
}

.box__approvel .box__table .table thead td {
  padding-bottom: 1rem;
}

.box__approvel .box__table .table td {
  border: 1px solid var(--clrdarks5);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  color: var(--clrwhites) !important;
}

.box__approvel .box__table .table .ap-success {
  background: rgba(111, 207, 151, 0.2);
  border-radius: 8px;
  padding: 4px 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.box__approvel .box__table .table .ap-success p {
  margin-bottom: 0;
  color: #6fcf97;
}

.box__approvel .box__table .table .ap-wait {
  background: rgba(242, 153, 74, 0.2);
  border-radius: 8px;
  padding: 4px 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.box__approvel .box__table .table .ap-wait p {
  margin-bottom: 0;
  color: #f2994a;
}

.box__approvel .box__table .table .ap-no {
  background: rgba(255, 123, 123, 0.2);
  border-radius: 8px;
  padding: 4px 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.box__approvel .box__table .table .ap-no p {
  margin-bottom: 0;
  color: #ff7b7b;
}

.box__approvel .btn.btn__viewdetail {
  background-color: var(--clrdarks2);
  color: var(--clrmain);
  border-radius: 4px;
  border: 1px solid var(--clrmain);
  width: 100%;
  position: relative;
  top: -5px;
}

.box__approvel .btn.btn__viewdetail:hover {
  background-color: var(--clrmain);
  color: var(--clrdarks2);
  border-radius: 4px;
  border: 1px solid var(--clrmain);
}

.box__approvel .btn.btn__viewdetail:focus {
  background-color: var(--clrmain);
  color: var(--clrdarks2);
  border-radius: 4px;
  border: 1px solid var(--clrmain);
}

.box__approvel .btn__app {
  background-color: var(--clrdarks5);
  border-radius: 4px;
  color: var(--clrwhites);
  position: relative;
  top: -5px;
}

.box__approvel .btn__app:hover {
  color: var(--clrwhites);
  border: 1px solid transparent;
  background-color: var(--clrdarks5);
}

.box__approvel .btn.btn__approval {
  background-color: var(--clrgreens2);
  color: var(--clrdarks7);
}

.box__approvel .btn.btn__approval:hover {
  background-color: var(--clrgreens2);
  color: var(--clrdarks7);
}

.box__approvel .btn.btn__waitapproval {
  background-color: var(--clrmain);
  color: var(--clrdarks7);
}

.box__approvel .btn.btn__waitapproval:hover {
  background-color: var(--clrmain);
  color: var(--clrdarks7);
}

.box__approvel .btn.btn__noapproval {
  background-color: var(--clrreds);
  color: var(--clrdarks7);
}

.box__approvel .btn.btn__noapproval:hover {
  background-color: var(--clrreds);
  color: var(--clrdarks7);
}

.box__approvel .tab-content > .active {
  width: 100% !important;
}

.form-control {
  background-color: var(--clrdarks5) !important;
  border-radius: 4px !important;
  color: var(--clrwhites) !important;
  border: 1px solid var(--clrdarks5) !important;
  display: inline-block !important;
  color: var(--clrwhites) !important;
  border: 1px solid var(--clrgrays) !important;
}

.form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: var(--clrdarks5) !important;
  border: 1px solid var(--clrgrays) !important;
}

.form-control::-webkit-input-placeholder {
  color: var(--clrwhites) !important;
  font-weight: 300 !important;
}

.form-control:-ms-input-placeholder {
  color: var(--clrwhites) !important;
  font-weight: 300 !important;
}

.form-control::-ms-input-placeholder {
  color: var(--clrwhites) !important;
  font-weight: 300 !important;
}

.form-control::placeholder {
  color: var(--clrwhites) !important;
  font-weight: 300 !important;
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

#modalapproval .modal-content {
  background-color: var(--clrdarks2);
}

#modalapproval .modal-header {
  border-bottom: 0;
  color: var(--clrwhites);
  padding-bottom: 0;
}

#modalapproval .modal-header h3 {
  margin-bottom: 0;
}

#modalapproval .modal-body {
  background-color: var(--clrdarks6);
  margin: 15px;
  border-radius: 4px;
}

#modalapproval .modal-body .box__result .txt__result {
  color: var(--clrgrays);
}

#modalapproval .modal-body .form-group {
  margin-top: 1rem;
}

#modalapproval .modal-body .form-group label {
  color: var(--clrgrays);
  margin-bottom: 0.5rem;
}

#modalapproval .modal-body .form-group textarea {
  height: 150px;
  background-color: var(--clrdarks7) !important;
}

#modalapproval .modal-body .form-check {
  margin-top: 1.2rem;
}

#modalapproval .modal-body .form-check label {
  color: var(--clrwhites);
  margin-bottom: 5px;
  margin-top: 5px;
}

#modalapproval .modal-body .form-check .form-check-input {
  width: 1.5em;
  height: 1.5em;
  margin-right: 15px;
}

#modalapproval .modal-footer {
  border-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#modalapproval .modal-footer .btn__back {
  color: var(--clrwhites);
  background-color: var(--clrdarks5);
  border-radius: 4px;
  border: 1px solid var(--clrdarks5);
  padding: 7px 2rem;
}

#modalapproval .modal-footer .btn__back:hover {
  background-color: transparent;
  color: var(--clrwhites);
}

#modalapproval .modal-footer .btn__yes {
  background-color: var(--clrmain);
  border-radius: 4px;
  border: 1px solid var(--clrmain);
  padding: 7px 2rem;
}

#modalapproval .modal-footer .btn__yes:hover {
  background-color: transparent;
  color: var(--clrmain);
}

#modalviewdetailapp .modal-header {
  border-bottom: 0;
  color: var(--clrwhites);
  padding-bottom: 0;
  display: initial;
}

#modalviewdetailapp .modal-header h3 {
  margin-bottom: 0;
}

#modalviewdetailapp .modal-header .wrapper__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#modalviewdetailapp .modal-header .wrapper__title .box__codenumber {
  background-color: var(--clrdarks7);
  border-radius: 4px;
  padding: 15px;
}

#modalviewdetailapp .modal-header .wrapper__title .box__codenumber p {
  color: var(--clrgrays);
  margin-bottom: 0;
}

#modalviewdetailapp .modal-header .wrapper__title .box__codenumber p span {
  color: var(--clrwhites);
  margin-left: 15px;
}

#modalviewdetailapp .modal-body .itemsdetail hr {
  border-color: var(--clrdarks5);
  border: 1.5px solid var(--clrdarks5);
}

#modalviewdetailapp .modal-body .itemsdetail .txt__left {
  color: var(--clrgrays);
  margin-bottom: 5px;
}

#modalviewdetailapp .modal-body .itemsdetail .txt__right {
  color: var(--clrdarks5);
  margin-bottom: 5px;
  color: var(--clrwhites);
}

#modalviewdetailapp .modal-body .btn__viewimage {
  margin-left: 5px;
  color: var(--clrwhites);
}

#modalviewdetailapp .modal-body .box__status {
  margin-top: 1.5rem;
}

#modalviewdetailapp .modal-body .box__status .txt__titlestatus {
  font-size: 1.25rem;
  color: var(--clrwhites);
}

#modalviewdetailapp .modal-body .box__status .form-group {
  margin-top: 1rem;
}

#modalviewdetailapp .modal-body .box__status .form-group label {
  margin-bottom: 0.5rem;
  color: var(--clrwhites);
}

#modalviewdetailapp .modal-body .box__status .form-group span {
  color: var(--clrreds);
}

#modalviewdetailapp .modal-body .form-select {
  background-color: var(--clrdarks5) !important;
  border-radius: 4px !important;
  color: var(--clrwhites) !important;
  border: 1px solid var(--clrdarks5) !important;
  display: inline-block !important;
  color: var(--clrwhites) !important;
  border: 1px solid var(--clrgrays) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

#modalviewdetailapp .modal-body .form-select:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: var(--clrdarks5) !important;
  border: 1px solid var(--clrgrays) !important;
}

#modalviewdetailapp .modal-body .form-select::-webkit-input-placeholder {
  color: var(--clrwhites) !important;
  font-weight: 300 !important;
}

#modalviewdetailapp .modal-body .form-select:-ms-input-placeholder {
  color: var(--clrwhites) !important;
  font-weight: 300 !important;
}

#modalviewdetailapp .modal-body .form-select::-ms-input-placeholder {
  color: var(--clrwhites) !important;
  font-weight: 300 !important;
}

#modalviewdetailapp .modal-body .form-select::placeholder {
  color: var(--clrwhites) !important;
  font-weight: 300 !important;
}

#modalviewdetailapp .modal-body textarea {
  height: 150px;
}

#modalviewdetailapp .modal-body .wrapper__approvaldate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#modalviewdetailapp .modal-body .wrapper__approvaldate p {
  color: var(--clrgrays);
  margin-left: 35px;
}

#modalviewdetailapp .modal-body .wrapper__approvaldate p span {
  color: var(--clrgrays) !important;
  margin-left: 15px;
}

#modalviewdetailapp .modal-content {
  background-color: var(--clrdarks6);
}

#modalviewdetailapp .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 0;
}

#modalviewdetailapp .modal-footer .btn__back {
  background-color: var(--clrmain);
  border-radius: 4px;
  border: 1px solid var(--clrmain);
  padding: 7px 2rem;
}

#modalviewdetailapp .modal-footer .btn__back:hover {
  background-color: transparent;
  color: var(--clrmain);
}
/*# sourceMappingURL=style.css.map */