.box__approvel {
  .txt__page {
    margin-top: 2rem;
    color: var(--clrdarks6);
    margin-bottom: 2rem;
  }

  .box__filter {
    background-color: var(--clrdarks6);
    border-radius: 4px;
    padding: 1rem 1rem 2rem 1rem;

    .form-control {
      &:focus {
        border-right: none !important;
      }
    }

    .wrapper__form {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .box__search {
        width: 35%;
        padding: 0 10px;
        label {
          color: var(--clrgrays);
          margin-top: 0.5rem;
        }

        .input-group {
          margin-top: 0.5rem;
          .btn__search {
            background-color: var(--clrdarks5) !important;
            border: 1px solid var(--clrgrays) !important;
            color: var(--clrwhites);
            border-left: none !important;
            position: relative;
            left: -1.5px;
          }

          svg {
            color: var(--clrwhites);
          }
        }
      }

      .btn__search2 {
        background-color: var(--clrmain) !important;
        border: 1px solid var(--clrmain) !important;
        color: var(--clrdarks2);
        margin-right: 15px;
        margin-top: 2.5rem;
      }

      .box__radio {
        display: flex;
        margin-top: 2.5rem;

        .form-check {
          margin: 0 10px;

          .form-check-input {
            width: 1.2em;
            height: 1.2em;
            margin-right: 10px;
          }

          .form-check-label {
            margin-top: 0.2rem;
          }
        }
      }
    }
  }

  .box__table {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--clrdarks6);
    padding: 15px;
    border-radius: 4px;

    .circle {
      border-radius: 6px;
      background-color: var(--clrwhites);
      color: var(--clrdarks2);
      padding: 1px 10px;
      margin-left: 5px;
    }

    .nav {
      justify-content: initial;

      @include breakpoint-down(small) {
        overflow: scroll;
      }
    }

    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
      background-color: transparent;
      border-bottom: 4px solid var(--clrmain) !important;
      border-radius: 0;
      border: 1px solid transparent;
      color: var(--clrmain);

      .circle {
        border-radius: 6px;
        background-color: var(--clrreds);
        color: var(--clrwhites);
      }
    }

    .nav-tabs .nav-link {
      border-bottom: 4px solid var(--clrdarks4) !important;
      color: var(--clrwhites);
    }

    .nav-tabs .nav-link:hover,
    .nav-tabs .nav-link:focus {
      border: 1px solid transparent !important;
      background-color: transparent !important;
      border-radius: 0 !important;
      border-bottom: 4px solid var(--clrmain) !important;
    }

    nav {
      @include breakpoint-down(small) {
        overflow: scroll;
      }
    }

    .nav-tabs {
      display: flex;
      flex-direction: row;
      border-bottom: 0;

      @include breakpoint-down(small) {
        width: 680px;
      }
    }

    .table {
      color: var(--clrwhites);
      margin-top: 1rem;
      border: 1px solid var(--clrdarks5);

      thead {
        background-color: var(--clrdarks7);
        border: 1px solid var(--clrdarks5);
        border-radius: 4px;

        td {
          padding-bottom: 1rem;
        }
      }

      td {
        border: 1px solid var(--clrdarks5);
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        color: var(--clrwhites) !important;
      }

      .ap-success {
        background: rgba(111, 207, 151, 0.2);
        border-radius: 8px;
        padding: 4px 20px;
        display: inline-block;
        width: 100%;
        text-align: center;

        p {
          margin-bottom: 0;
          color: #6fcf97;
        }
      }

      .ap-wait {
        background: rgba(242, 153, 74, 0.2);
        border-radius: 8px;
        padding: 4px 20px;
        display: inline-block;
        width: 100%;
        text-align: center;
        p {
          margin-bottom: 0;
          color: #f2994a;
        }
      }

      .ap-no {
        background: rgba(255, 123, 123, 0.2);
        border-radius: 8px;
        padding: 4px 20px;
        display: inline-block;
        width: 100%;
        text-align: center;

        p {
          margin-bottom: 0;
          color: #ff7b7b;
        }
      }
    }
  }

  .btn.btn__viewdetail {
    background-color: var(--clrdarks2);
    color: var(--clrmain);
    border-radius: 4px;
    border: 1px solid var(--clrmain);
    width: 100%;
    position: relative;
    top: -5px;

    &:hover {
      background-color: var(--clrmain);
      color: var(--clrdarks2);
      border-radius: 4px;
      border: 1px solid var(--clrmain);
    }

    &:focus {
      background-color: var(--clrmain);
      color: var(--clrdarks2);
      border-radius: 4px;
      border: 1px solid var(--clrmain);
    }
  }

  .btn__app {
    background-color: var(--clrdarks5);
    border-radius: 4px;
    color: var(--clrwhites);
    position: relative;
    top: -5px;

    &:hover {
      color: var(--clrwhites);
      border: 1px solid transparent;
      background-color: var(--clrdarks5);
    }
  }

  .btn.btn__approval {
    background-color: var(--clrgreens2);
    color: var(--clrdarks7);

    &:hover {
      background-color: var(--clrgreens2);
      color: var(--clrdarks7);
    }
  }

  .btn.btn__waitapproval {
    background-color: var(--clrmain);
    color: var(--clrdarks7);

    &:hover {
      background-color: var(--clrmain);
      color: var(--clrdarks7);
    }
  }
  .btn.btn__noapproval {
    background-color: var(--clrreds);
    color: var(--clrdarks7);

    &:hover {
      background-color: var(--clrreds);
      color: var(--clrdarks7);
    }
  }

  .tab-content > .active {
    width: 100% !important;
  }
}

.form-control {
  background-color: var(--clrdarks5) !important;
  border-radius: 4px !important;
  color: var(--clrwhites) !important;
  border: 1px solid var(--clrdarks5) !important;
  display: inline-block !important;
  color: var(--clrwhites) !important;
  border: 1px solid var(--clrgrays) !important;

  &:focus {
    box-shadow: none !important;
    background-color: var(--clrdarks5) !important;
    border: 1px solid var(--clrgrays) !important;
  }

  &::placeholder {
    color: var(--clrwhites) !important;
    font-weight: 300 !important;
  }
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

#modalapproval {
  .modal-content {
    background-color: var(--clrdarks2);
  }
  .modal-header {
    border-bottom: 0;
    color: var(--clrwhites);
    padding-bottom: 0;

    h3 {
      margin-bottom: 0;
    }
  }

  .modal-body {
    background-color: var(--clrdarks6);
    margin: 15px;
    border-radius: 4px;

    .box__result {
      .txt__result {
        color: var(--clrgrays);
      }
    }

    .form-group {
      margin-top: 1rem;

      label {
        color: var(--clrgrays);
        margin-bottom: 0.5rem;
      }

      textarea {
        height: 150px;
        background-color: var(--clrdarks7) !important;
      }
    }
    .form-check {
      margin-top: 1.2rem;

      label {
        color: var(--clrwhites);
        margin-bottom: 5px;
        margin-top: 5px;
      }

      .form-check-input {
        width: 1.2em;
        height: 1.2em;
        margin-right: 15px;
      }
    }
  }
  .modal-footer {
    border-top: 0;
    display: flex;
    justify-content: center;

    .btn__back {
      color: var(--clrwhites);
      background-color: var(--clrdarks5);
      border-radius: 4px;
      border: 1px solid var(--clrdarks5);
      padding: 7px 2rem;
      @extend %transition-3;

      &:hover {
        @extend %transition-3;
        background-color: transparent;
        color: var(--clrwhites);
      }
    }

    .btn__yes {
      background-color: var(--clrmain);
      border-radius: 4px;
      border: 1px solid var(--clrmain);
      padding: 7px 2rem;

      @extend %transition-3;

      &:hover {
        @extend %transition-3;
        background-color: transparent;
        color: var(--clrmain);
      }
    }
  }
}
#modalviewdetailapp {
  .modal-header {
    border-bottom: 0;
    color: var(--clrwhites);
    padding-bottom: 0;
    display: initial;

    h3 {
      margin-bottom: 0;
    }

    .wrapper__title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .box__codenumber {
        background-color: var(--clrdarks7);
        border-radius: 4px;
        padding: 15px;

        p {
          color: var(--clrgrays);
          margin-bottom: 0;

          span {
            color: var(--clrwhites);
            margin-left: 15px;
          }
        }
      }
    }
  }

  .modal-body {
    .itemsdetail {
      hr {
        border-color: var(--clrdarks5);
        border: 1.5px solid var(--clrdarks5);
      }
      .txt__left {
        color: var(--clrgrays);
        margin-bottom: 5px;
      }
      .txt__right {
        color: var(--clrdarks5);
        margin-bottom: 5px;
        color: var(--clrwhites);
      }
    }

    .btn__viewimage {
      margin-left: 5px;
      color: var(--clrwhites);
    }

    .box__status {
      margin-top: 1.5rem;

      .txt__titlestatus {
        font-size: 1.25rem;
        color: var(--clrwhites);
      }

      .form-group {
        margin-top: 1rem;
        label {
          margin-bottom: 0.5rem;
          color: var(--clrwhites);
        }

        span {
          color: var(--clrreds);
        }
      }
    }

    .form-select {
      background-color: var(--clrdarks5) !important;
      border-radius: 4px !important;
      color: var(--clrwhites) !important;
      border: 1px solid var(--clrdarks5) !important;
      display: inline-block !important;
      color: var(--clrwhites) !important;
      border: 1px solid var(--clrgrays) !important;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
      &:focus {
        box-shadow: none !important;
        background-color: var(--clrdarks5) !important;
        border: 1px solid var(--clrgrays) !important;
      }

      &::placeholder {
        color: var(--clrwhites) !important;
        font-weight: 300 !important;
      }
    }

    textarea {
      height: 150px;
    }

    .wrapper__approvaldate {
      display: flex;
      justify-content: flex-end;

      p {
        color: var(--clrgrays);
        margin-left: 35px;

        span {
          color: var(--clrgrays) !important;
          margin-left: 15px;
        }
      }
    }
  }

  .modal-content {
    background-color: var(--clrdarks6);
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    border-top: 0;

    .btn__back {
      background-color: var(--clrmain);
      border-radius: 4px;
      border: 1px solid var(--clrmain);
      padding: 7px 2rem;

      @extend %transition-3;

      &:hover {
        @extend %transition-3;
        background-color: transparent;
        color: var(--clrmain);
      }
    }
  }
}

.btn__defaultyellow {
  background-color: var(--clrmain) !important;
  border-radius: 4px !important;
  border: 1px solid var(--clrmain) !important;
  padding: 7px 2rem !important;
  @extend %transition-3;

  &:hover {
    @extend %transition-3;
    background-color: transparent !important;
    color: var(--clrmain) !important;
  }
}
