////////////////////////////////////// Fonts //////////////////////////////////////
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$Kanit: "Kanit", sans-serif;
////////////////////////////////////// Variables //////////////////////////////////////
$w: (
  "mini-small": 200,
  "small": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
);
////////////////////////////////////// Colors //////////////////////////////////////
:root {
  --clrwhites: #fff;
  --clrblacks: #000;
  --clrblacks2: #050505;
  --clrmain: #e8d95f;
  --clrmain2: #e5d346;
  --clrdarks: #100b07;
  --clrdarks2: #282828;
  --clrdarks3: #545454;
  --clrdarks4: #828282;
  --clrdarks5: #4f4f4f;
  --clrdarks6: #3f3f3f;
  --clrdarks7: #333333;
  --clrgrays: #bdbdbd;
  --clrgrays2: #e0e0e0;
  --clrreds: #eb5757;
  --clrfacebook: #1877f2;
  --clrline: #00b900;
  --clrtwitter: #50abf1;
  --clrcopy: #ebeaea;
  --clrblue: #56ccf2;
  --header-height: 3rem;
  --nav-width: 68px;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

////////////////////////////////////// Function //////////////////////////////////////

@function w($weight-name) {
  @return map-get($w, $weight-name);
}

////////////////////////////////////// Mixins //////////////////////////////////////
@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -o-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
}

@mixin text-shadow($items1) {
  text-shadow: ($items1);
  -webkit-text-shadow: ($items1);
  -ms-text-shadow: ($items1);
  -o-text-shadow: ($items1);
  -moz-text-shadow: ($items1);
}

%cuttext-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
}

%cuttext-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

%cuttext-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}

%cuttext-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}

%transition-3 {
  transition: all 0.3s ease-in-out;
}

%transition-5 {
  transition: all 0.5s ease-in-out;
}
////////////////////////////////////// Code //////////////////////////////////////
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: $Kanit !important;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #373737 100%);
  @extend %transition-3;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}

// totop
#toTop {
  padding: 10px 15px;
  border: 4px solid var(--clrmain);
  background-color: var(--clrmain);
  color: var(--whites);
  position: fixed;
  bottom: 15px;
  right: 5px;
  display: none;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  z-index: 1000;
  @extend %transition-3;

  .fa-angle-up {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: weights(bold);
    color: var(--whites);
  }

  &:hover {
    border: 4px solid var(--clrmain);
    background-color: transparent;

    .fa-angle-up {
      color: var(--clrmain);
    }
  }
}
