#sec-confirm {
    padding-top: 20px;
    padding-bottom: 350px;
}

#sec-confirm .h-text-confirm p {
    font-size: 26px;
    font-weight: 500;
    color: white;
}

#sec-confirm .d-text-confirm p {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

#sec-confirm .card {
    background-color: #3F3F3F;
    height: 153px;
}

#sec-confirm .card .card-header {
    background-color: #4F4F4F;
    height: 55px;
}

#sec-confirm .card-header p {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

#sec-confirm .card .card-body {
    background-color: #3F3F3F;
}

#sec-confirm .card-title  {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

#sec-confirm .card-text  {
    font-size: 14px;
    color: #E0E0E0;
    font-weight: 300;
}

#sec-confirm .form-check {
    font-size: 14px;
    color: white;
    font-weight: 300;
    padding-left: 44px;
}

#sec-confirm .card2 {
    background-color: #3F3F3F;
    height: 120px;
}

#sec-confirm .card2 .card-title {
    font-size: 18px;
    color: white;
    font-weight: 300;
    padding: 20px;
}

#sec-confirm .card3 {
    background-color: #3F3F3F;
    height: 310px;
    padding: 20px;
}

#sec-confirm .card-detail {
    font-size: 14px;
    color: #E0E0E0;
    font-weight: 300;
}

#id04 {
    z-index: 2;

}


.div1 {
    width: 600px;
    height: 200px;
    padding: 20px;
    border: 1px solid #9c9a9a;
}


/*---- img upload ------*/
.drop-zone {
    max-width: 156px;
    height: 158px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    background-color: #ffffff0f;
    /* border: 4px dashed #009578; */
    border-radius: 10px;
    margin-left: 200px;

}

.drop-zone p {
    font-size: 13px;
    font-family: 'Prompt', sans-serif;
    color: white;
    margin-top: 5px;
}

.drop-zone .tt-img-detail p {
    font-size: 13px;
    font-family: 'Prompt', sans-serif;
    color: #cccccc;
    margin-top: -14px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

/*button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
    background-color: #E8D95F;
    border: none;
    color: #282828;
    padding: 7px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    border-radius: 4px;
}*/

.button {
    background-color: #e8d95f;
    border: none;
    color: #282828;
    padding: 6px 32px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 4px;
    cursor: pointer;
}

.button4 {
    background-color: #282828;
    color: #e8d95f;
    border: 2px solid #e8d95f;
}

.button4:hover {
    background-color: #e8d95f;
    color: #3F3F3F;
    border: 2px solid #e8d95f;
}


#sec-confirm .input-group>.form-control,
.input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    border-top: 2px solid #828282;
    border-left: 2px solid #828282;
    border-right: 2px solid #828282;
    border-bottom: 2px solid #828282;
    background-color: #333333;
    color: white;
    border-radius: 4px;
}

#sec-confirm .tt-text-log p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    color: white;
}

#sec-confirm .card4 {
    background-color: #3F3F3F;
    height: 130px;
}

#sec-confirm .card4 .card-title {
    font-size: 18px;
    color: white;
    font-weight: 300;
    padding: 20px;
}

#sec-confirm .card4 .card-detail {
    font-size: 14px;
    color: white;
    font-weight: 300;
    padding-left: 20px;
    margin-top: -13px;
}
#sec-confirm .card4 .card-detail2 {
    font-size: 14px;
    color: white;
    font-weight: 300;
    padding-left: 20px;
    margin-top: -7px;
}

#sec-confirm .text-edit p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    float: right;
    margin-right: 27px;
    margin-top: -37px;
    background-color: #3f3f3f;
}

.w3-black,
.w3-hover-black:hover {
    color: #fff !important;
    /* background-color: #000!important; */
}

#sec-confirm .card5 {
    background-color: #3F3F3F;
    height: 875px;
}

#sec-confirm .h-text-h p {
    font-size: 18px;
    color: white;
    font-weight: 300;
    padding: 20px;
}

#sec-confirm .h-text-h2 p {
    font-size: 18px;
    color: white;
    font-weight: 300;
    padding: 20px;
    margin-left: -22px;
}

#sec-confirm .img-lo-icon {
    padding-left: 20px;
}

#sec-confirm .detail-text-t p {
    font-size: 12px;
    color: white;
    font-weight: 300;
    padding: 10px 20px;
    padding-left: 20px;
}

#sec-confirm .img-lo-icon p {
    font-size: 16px;
    color: white;
    font-weight: 300;
}

#sec-confirm .hh-text-h p {
    font-size: 16px;
    color: white;
    font-weight: 300;
}

#sec-confirm .img-lo-icon2 {
    width: 23%;
    margin-left: 109px;
    margin-top: -41px;
}

#sec-confirm .img-lo-icon3 {
    width: 23%;
    margin-left: 121px;
    margin-top: -41px;
}

#sec-confirm .date-detail-text-t p {
    font-size: 12px;
    color: white;
    font-weight: 300;
    padding-top: 10px;
}

#sec-confirm .date-detail-text-t2 p {
    font-size: 12px;
    color: white;
    font-weight: 300;
    margin-top: -10px;
}

#sec-confirm .price-text-t p {
    font-size: 16px;
    color: white;
    font-weight: 300;
}

#sec-confirm .card6 {
    background-color: #3F3F3F;
    height: 160px;
}

#sec-confirm .card6 .form-check {
    font-size: 16px;
    color: white;
    font-weight: 300;
    padding-top: 20px;
}

#sec-confirm .card6 .form-check font {
    font-size: 16px;
    color: #E8D95F;
    font-weight: 300;
}

#sec-confirm .d-detail-t-card6 p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    padding: 20px;
}

#sec-confirm .d-detail-t2-card6 p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    padding-left: 20px;
    margin-top: -31px;
}

#sec-confirm .d-detail-t3-card6 p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    padding-left: 20px;
    margin-top: -10px;
    
}

.button1 {
    background-color: #E8D95F;
    color: #282828;
    border: 2px solid #E8D95F;
}

.button1:hover {
    background-color: #282828;
    color: #E8D95F;
}

.button2 {
    background-color: #E8D95F;
    color: black;
    border: 2px solid #E8D95F;
}

.button2:hover {
    background-color: #282828;
    color: #E8D95F;
}

.button3 {
    background-color: #4F4F4F;
    color: white;
    border: 2px solid #4F4F4F;
}

.button3:hover {
    background-color: #828282;
    color: white;
    border: 2px solid #828282;
}


.button6 {
    background-color: #282828;
    color: #E8D95F;
    border: 2px solid #E8D95F;
    float: right;
    margin-top: -50px;
}

.button6:hover {
    background-color: #E8D95F;
    color: #282828;
    border: 2px solid #E8D95F;
}



.button7 {
    background-color: #4F4F4F;
    color: white;
    border: 2px solid #4F4F4F;
}

.button7:hover {
    background-color: #828282;
    color: white;
    border: 2px solid #828282;
}

.img-lo-iconniti {
    width: 4%;
    margin-left: 200px;
    margin-top: -41px;
}

.tt-text-niti p {
    font-size: 18px;
    color: #6FCF97;
    margin-left: 255px;
    margin-top: -41px;

}

.text-t-haer-pakan p {
    font-size: 18px;
    color: white;
    text-align: center;
}

.text-t-deail-pakan p {
    font-size: 14px;
    color: white;
    padding: 20px;
}

.w3-container,
.w3-panel {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #3b3a3a;
}


.text-t-deail-add-edit .form-control {
    position: relative;
    flex: 1 1 auto;
    min-width: 0;
    border-top: 2px solid #828282;
    border-left: 2px solid #828282;
    border-right: 2px solid #828282;
    border-bottom: 2px solid #828282;
    border-radius: 4px;
    color: #747575;
    background-color: #333;
}

.text-t-deail-add-edit .form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #747575;
    background-color: #333;
}



/*---- ปรับ scrollbar .b-text-t-b ------*/
.text-t-deail-pakan {
    overflow-y: scroll;
    height: 350px;
    border: 2px solid #8e8e8c;
    border-radius: 5px;
}

/* width */
.text-t-deail-pakan::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.text-t-deail-pakan::-webkit-scrollbar-track {
    background-color: #828282;
    border-radius: 100px;
}

/* Handle */
.text-t-deail-pakan::-webkit-scrollbar-thumb {
    background-color: #3F3F3F;
    border-radius: 100px;
}

/* Handle on hover */
.text-t-deail-pakan::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    border-radius: 100px;
}

#sec-confirm .card-con {
    background-color: #3F3F3F;
    height: 477px;
    padding: 30px;
}

#sec-confirm .card-con label {
    color: #dddddd;
}

#sec-confirm .card-con span {
    color: rgb(227, 118, 118);
}


#sec-confirm .card-con .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border-top: 2px solid #828282;
    border-left: 2px solid #828282;
    border-right: 2px solid #828282;
    border-bottom: 2px solid #828282;
    background-color: #333333;
    color: white;
    border-radius: 4px;
}








/* The Modal (background) */
#sec-confirm .modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
#sec-confirm .modal-content {
    background-color: #3F3F3F;
    margin: auto;
    /* padding: 20px;
    border: 1px solid #fefefe;*/
    width: 45%;
    margin-top: -9px;
}

/* The Close Button */
#sec-confirm .close {
    color: #f4eeeef2;
    float: right;
    font-size: 45px;
    font-weight: 300;
    margin-left: 640px;
    margin-top: -13px;
}

#sec-confirm .close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#sec-confirm .tt-text-con p {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
}

#sec-confirm .modal-footer {
    background-color: #282828;
    padding: 50px;
    justify-content: center;
}

#sec-confirm .t-body-text p {
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: 400px;
}

.box-body-address .form-control {
    position: relative;
    flex: 1 1 auto;
    min-width: 0;
    border-top: 2px solid #828282;
    border-left: 2px solid #828282;
    border-right: 2px solid #828282;
    border-bottom: 2px solid #828282;
    background-color: #333333;
    color: white;
    border-radius: 4px;
}

.box-body-address .form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #747575;
    background-color: #333;
}

.box-body-address .form-label {
    margin-bottom: 0.5rem;
    color: white;
    font-weight: 300;
}

#sec-confirm .card7 {
    background-color: #555454;
    height: 195px;
    border-radius: 6px;
}

.card7 .card-title7 {
    font-size: 14px;
    color: white;
    font-weight: 300;
}

.card7 .text-edit7 p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    float: right;
    margin-right: 27px;
    margin-top: 21px;
}

.card7 .card-tadail7 p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    margin-top: 21px;
}

.card7 .card-tadail7 .text-t-detail p {
    font-size: 14px;
    color: white;
    font-weight: 300;
}


#sec-confirm .card8 {
    background-color: #555454;
    height: 195px;
    border-radius: 6px;
}

.card8 .card-title8 {
    font-size: 14px;
    color: white;
    font-weight: 300;
}

.card8 .text-edit8 p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    float: right;
    margin-right: 27px;
    margin-top: 21px;
}

.card8 .card-tadail8 p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    margin-top: 21px;
}

.card8 .card-tadail8 .text-t-detail p {
    font-size: 14px;
    color: white;
    font-weight: 300;
}


.b-but-addplus .button {
    background-color: #555454;
    /* Green */
    border: none;
    color: white;
    padding: 15px 283px 15px 270px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.b-but-addplus .button-inadd:hover {
    box-shadow: 0 12px 16px 0 rgba(38, 37, 37, 0.428), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}