#sec-login1 {
    padding: 100px;
    background-color: #282828;
}

#sec-login1 .box-b-login {
    background-color: #3f3f3f;
    box-shadow: rgba(84, 85, 86, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    margin: 20px;
}

#sec-login1 .text-log-back {
    background-color: #3f3f3f;
}

.fa-angle-right:before {
    content: "\f105";
    font-size: 18px;
}

#sec-login1 .text-tt-hd {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height */
    text-align: center;
    margin-top: -10px;
}

#sec-login1 .h-text-log p {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    text-align: center;
    margin-top: 30px;
}

#sec-login1 .tt-text-log p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    color: #bdbdbd;
}

#sec-login1 .input-group > .form-control,
.input-group > .form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    border-top: 2px solid #828282;
    border-left: 2px solid #828282;
    border-right: 2px solid #828282;
    border-bottom: 2px solid #828282;
    background-color: #333333;
    color: white;
    border-radius: 4px;
}

#sec-login1 .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 91%;
}

.button {
    background-color: #e8d95f;
    border: none;
    color: #282828;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 149px 10px 154px;
}

.button1 {
    background-color: #e8d95f;
    color: black;
    border: 2px solid #e8d95f;
}

.button1:hover {
    background-color: #282828;
    color: #e8d95f;
}
