#sec-confirm {
    padding-top: 20px;
    padding-bottom: 50px;
}

#sec-confirm .h-text-confirm p {
    font-size: 26px;
    font-weight: 500;
    color: white;
}

#sec-confirm .d-text-confirm p {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

#sec-confirm .card {
    background-color: #3F3F3F;
    height: 153px;
}

#sec-confirm .card .card-header {
    background-color: #4F4F4F;
    height: 55px;
}

#sec-confirm .card-header p {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

#sec-confirm .card-header span {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

#sec-confirm .box__model .txt__model {
    color: #6fcf97;
    display: inline-block;
    font-size: 1.15rem;
    margin-left: 5px;
    margin-bottom: 0;
}

#sec-confirm .box__model .txt__idshop {
    display: inline-block;
    font-size: 1.15rem;
    margin-left: 10px;
    color: var(--clrwhites);
    margin-bottom: 0;
}

#sec-confirm .box__model .txt__verify {
    color: var(--clrblue);
    display: inline-block;
    font-size: 1.15rem;
    margin-left: 5px;
    margin-bottom: 0;
}

#sec-confirm .card-header .box__date2 p {
    font-size: 18px;
    color: white;
    font-weight: 300;
    float: right;
     margin-top: 6px;
}

#sec-confirm .card .card-body {
    background-color: #3F3F3F;
}
text-.form-control
#sec-confirm .card-title  {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

#sec-confirm .card-title-price  {
    font-size: 18px;
    color: white;
    font-weight: 300;
    float: right;
}

#sec-confirm .card-text  {
    font-size: 14px;
    color: #E0E0E0;
    font-weight: 300;
}

#sec-confirm .form-check {
    font-size: 16px;
    color: white;
    font-weight: 300;
    padding-left: 44px;
}

#sec-confirm .card2 {
    background-color: #3F3F3F;
    padding: 20px;
}

#sec-confirm .card2 .card-title {
    font-size: 16px;
    color: white;
    font-weight: 300;
    padding: 15px 0px 15px 0px;
}

#sec-confirm .card7 {
    background-color: #3F3F3F;
    padding-left: 20px;
    border: 2px solid #E8D95F;
}

#sec-confirm .card7 .card-title {
    font-size: 16px;
    color: white;
    font-weight: 300;
    padding: 20px;
}

#sec-confirm .card7 .card-detail {
    font-size: 16px;
    color: #E8D95F;
    font-weight: 300;
    padding-left: 20px;
}


#sec-confirm .card-detail {
    font-size: 14px;
    color: #E0E0E0;
    font-weight: 300;
}


#sec-confirm .card-d .card-header {
    background-color: #4F4F4F;
    height: 65px;
    padding: 15px 20px;
    margin-bottom: 6px;
}

#sec-confirm .card-d .card-body {
    background-color: #3F3F3F;
    padding: 20px;
}

#sec-confirm .t-roon-img .card-detail {
    font-size: 18px;
    color: #ffffff;
    margin-left: -20px;
    margin-top: 21px;
}

.tt-text-niti p {
    font-size: 18px;
    color: #56cbf1;
    margin-left: 255px;
    margin-top: -56px;
}

.img-lo-iconniti {
    width: 4%;
    margin-left: 195px;
    margin-top: -50px;
}

#sec-confirm .card-title {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

#sec-confirm .t-roon-img .card-title {
    font-size: 18px;
    color: #56cbf1;
    margin-left: 55px;
    margin-top: -37px;
}


/* Start accordion */

.accordion {
    background-color: #3f3f3f;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #3f3f3f;
}

.accordion:after {
    content: "\2228";
    color: white;
    padding: 2px 9px 2px 9px;
    font-size: 16px;
    float: right;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 20px;
    background-color: #5a5a5a;
}

.active:after {
    content: "\2227";
}

.panel {
    padding: 0 18px;
    background-color: #3f3f3f;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* End accordion */



.pay-payment p {
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
}

#sec-confirm .card-pay {
    background-color: #3F3F3F;
    height: 400px;
    padding: 30px;
}

#sec-confirm .card-pay .box-card-pay {
    padding: 30px 30px;
    border: 1px solid #ccc;
}

.detail-de-text p {
    font-size: 14px;
    color: white;
    float: right;
}

.detail-de-text2 p {
    font-size: 14px;
    color: white;
    float: right;
    font-weight: 400;
}

.detail-de-text3 p {
    font-size: 18px;
    color: #E8D95F;
    float: right;
    font-weight: 400;
}

.text-number-order p {
    font-size: 18px;
    color: white;
    font-weight: 300;
    text-align: center;
}

.text-number-order span {
    font-size: 18px;
    color: white;
    font-weight: 300;
    text-align: center;
}

.text-trak-h p {
    font-size: 15px;
    color: #E8D95F;
    font-weight: 400;
    text-align: right;
    margin-right: -83px;
}

.text-trak-d p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    text-align: right;
    margin-right: -91px;
    margin-top: -10px;  
}

.text-trak-dd p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    text-align: right;
    margin-right: -105px;
    margin-top: -10px;
}

.text-trak-d2 p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    text-align: right;
    margin-right: 31px;
    margin-top: -10px;
}

.text-trak-d3 p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    margin-left: 35px;
     margin-top: -10px;
}   

.text-trak-dd3 p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    margin-top: -10px;
    margin-left: 25px;
}

.text-trak-dd3-1 p {
    font-size: 14px;
    color: #E8D95F;
    font-weight: 300;
    margin-top: -10px;
    margin-left: 54px;
}

.text-trak-d4 p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    margin-left: -103px;
    margin-top: -10px;
}

.text-trak-h2 p {
    font-size: 15px;
    color: #E8D95F;
    font-weight: 400;
    text-align: right;
    margin-right: 44px;
}
.text-trak-h3 p {
    font-size: 15px;
    color: #E8D95F;
    font-weight: 400;
    text-align: right;
    margin-right: 189px;
}
.text-trak-h4 p {
    font-size: 15px;
    color: #E8D95F;
    font-weight: 400;
    margin-left: -99px;
}

.text-t-haer-review p {
    font-size: 20px;
    color: white;
    font-weight: 400;
    padding-top: 20px;
}

.text-t-detail-review p {
    font-size: 14px;
    color: white;
    font-weight: 400;
    margin-top: -10px;
}

.w3-modal-content {
    margin-bottom: 10px;
    background-color: #2f2f2f;
    position: relative;
    padding: 0;
    outline: 0;
     width: 850px;
}

/*#sec-confirm .card-review {
    background-color: #3F3F3F;
    height: 170px;
}*/


.b-img-b {
    display: inline-block;
    background-color: #4f4f4f;
    color: white;
    padding: 0.7rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 0rem;
}



#sec-confirm .card-header-re p {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

#sec-confirm .card-d .card-header-re {
    /*background-color: #4F4F4F;*/
    height: 65px;
    padding: 15px 20px;
    margin-bottom: 6px;
}

#sec-confirm .card-title-re {
    font-size: 16px;
    color: white;
    font-weight: 300;
}

.tt-text-niti-re p {
    font-size: 18px;
    color: #6FCF97;
    margin-left: 255px;
    margin-top: -56px;
}

.box-review-img {
    padding: 20px;
}

.text-number-tt-review {
    padding-left: 30px;
}

.text-number-tt-review p {
    font-size: 16px;
    color: white;
}

.card-review .form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border-top: 2px solid #3f3f3f;
    border-left: 2px solid #3f3f3f;
    border-right: 2px solid #3f3f3f;
    border-bottom: 2px solid #3f3f3f;
    background-color: #3f3f3f;
    color: white;
    border-radius: 4px;
}

.text-detail-review-re {
    padding-left: 20px;
    margin-top: -23px;
}

.text-detail-review-re p {
    font-size: 16px;
    color: white;
}

.card-review .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border-top: 2px solid #3f3f3f;
    border-left: 2px solid #3f3f3f;
    border-right: 2px solid #3f3f3f;
    border-bottom: 2px solid #3f3f3f;
    background-color: #3f3f3f;
    color: white;
    border-radius: 4px;
}

hr.new1 {
    border-top: 1px solid white;
}


.head-selext-text p {
    font-size: 16px;
    color: white;
    font-weight: 400;
}

.text-t-img-img p {
    font-size: 16px;
    color: white;
    font-weight: 400;
}

.text-t-img-img span {
    font-size: 16px;
    color: rgb(228, 110, 110);
    font-weight: 400;
}

.box2-b-img {
    border: 1px solid #868080;
    padding: 20px;
    margin: 20px;
}

.text-delate-de p {
    font-size: 14px;
    color: white;
    margin-top: 10px;
    text-align: center;
}

.box-box-b {
    border: 1px solid #c8c8c8;
    width: 150px;
    height: 130px;
    border-radius: 5px;
    background-color: #535151;
}

.head-text-t p {
    font-size: 14px;
    color: white;
    font-weight: 400;
    margin-top: 18px;
    margin-left: 25px;
}

#sec-confirm .button-up {
    background-color: #8e8e8e;
    color: white;
    border: 2px solid #8e8e8e;
    padding: 10px;
    margin-left: 20px;
    font-size: 13px;
}

#sec-confirm .button-up:hover {
    background-color: #535151;
    color: white;
    border: 2px solid #8e8e8e;
    padding: 10px;
    margin-left: 20px;
    font-size: 13px;
}

.check-check {
    padding-left: 30px;
}

.form-check span {
    color: #E8D95F;
    font-size: 14px;
}

#sec-confirm .card-review2 {
    background-color: #3F3F3F;
    height: 480px;
}

.text-number-tt-review .form-select {
    display: block;
    width: 40%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background-color: #616161;
    background-clip: padding-box;
    border-top: 2px solid #616161;
    border-left: 2px solid #616161;
    border-right: 2px solid #616161;
    border-bottom: 2px solid #616161;
}

.text-detail-review-re .form-control {
    display: block;
    width: 97%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background-color: #616161;
    background-clip: padding-box;
    border-top: 2px solid #616161;
    border-left: 2px solid #616161;
    border-right: 2px solid #616161;
    border-bottom: 2px solid #616161;
}


.text-t-haer-pakan p {
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.text-t-deail-pakan p {
    font-size: 14px;
    color: white;
    padding: 20px;
}

.w3-container,
.w3-panel {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #373737;
}


.text-t-deail-add-edit .form-control {
    position: relative;
    flex: 1 1 auto;
    min-width: 0;
    border-top: 2px solid #828282;
    border-left: 2px solid #828282;
    border-right: 2px solid #828282;
    border-bottom: 2px solid #828282;
    border-radius: 4px;
    color: #747575;
    background-color: #333;
}

.text-t-deail-add-edit .form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #747575;
    background-color: #333;
}




/*---- ปรับ scrollbar .b-text-t-b ------*/
.text-t-deail-pakan {
    overflow-y: scroll;
    height: 350px;
    border: 2px solid #8e8e8c;
    border-radius: 5px;
    background-color: #4b4b4b;
}

/* width */
.text-t-deail-pakan::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.text-t-deail-pakan::-webkit-scrollbar-track {
    background-color: #828282;
    border-radius: 100px;
}

/* Handle */
.text-t-deail-pakan::-webkit-scrollbar-thumb {
    background-color: #3F3F3F;
    border-radius: 100px;
}

/* Handle on hover */
.text-t-deail-pakan::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    border-radius: 100px;
}

#sec-confirm .card-con-re {
    /* background-color: #3F3F3F; */
    height: 390px;
    padding: 20px 30px 20px 30px;
}

#sec-confirm .card-con label {
    color: #dddddd;
}

#sec-confirm .card-con span {
    color: rgb(227, 118, 118);
}













#sec-confirm .button-img {
    background-color: #4F4F4F;
    color: white;
    border: 2px solid #4F4F4F;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-left: 20px;
}

.checked  {
    color: #E8D95F;
}

.icon-review-icon  {
    color: #828282;
    text-align: center;
    font-size: 36px;
}


.div1 {
    width: 600px;
    height: 200px;
    padding: 20px;
    border: 1px solid #9c9a9a;
}


/*---- img upload ------*/
.drop-zone {
    max-width: 156px;
    height: 158px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    background-color: #ffffff0f;
    /* border: 4px dashed #009578; */
    border-radius: 10px;
    margin-left: 200px;

}

.drop-zone p {
    font-size: 13px;
    font-family: 'Prompt', sans-serif;
    color: white;
    margin-top: 5px;
}

.drop-zone .tt-img-detail p {
    font-size: 13px;
    font-family: 'Prompt', sans-serif;
    color: #cccccc;
    margin-top: -14px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

/*button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
    background-color: #E8D95F;
    border: none;
    color: #282828;
    padding: 7px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    border-radius: 4px;
}*/

.button {
    background-color: #e8d95f;
    border: none;
    color: #282828;
    padding: 6px 32px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 4px;
    cursor: pointer;
}

.button4 {
    background-color: #282828;
    color: #e8d95f;
    border: 2px solid #e8d95f;
}

.button4:hover {
    background-color: #e8d95f;
    color: #3F3F3F;
    border: 2px solid #e8d95f;
}


#sec-confirm .input-group>.form-control,
.input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    border-top: 2px solid #828282;
    border-left: 2px solid #828282;
    border-right: 2px solid #828282;
    border-bottom: 2px solid #828282;
    background-color: #333333;
    color: white;
    border-radius: 4px;
}

#sec-confirm .tt-text-log p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    color: white;
}

#sec-confirm .card4 {
    background-color: #3F3F3F;
    height: 130px;
}

#sec-confirm .card4 .card-title {
    font-size: 18px;
    color: white;
    font-weight: 300;
    padding: 20px;
}

#sec-confirm .card4 .card-detail {
    font-size: 14px;
    color: white;
    font-weight: 300;
    padding-left: 20px;
    margin-top: -13px;
}
#sec-confirm .card4 .card-detail2 {
    font-size: 14px;
    color: white;
    font-weight: 300;
    padding-left: 20px;
    margin-top: -7px;
}

#sec-confirm .text-edit p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    float: right;
    margin-right: 27px;
    margin-top: -37px;
}

#sec-confirm .card5 {
    background-color: #3F3F3F;
}

#sec-confirm .h-text-h p {
    font-size: 18px;
    color: white;
    font-weight: 300;
    padding: 20px;
}

#sec-confirm .h-text-h2 p {
    font-size: 18px;
    color: white;
    font-weight: 300;
    padding: 20px;
    margin-left: -22px;
}

#sec-confirm .img-lo-icon {
    padding-left: 20px;
}

#sec-confirm .detail-text-t p {
    font-size: 12px;
    color: white;
    font-weight: 300;
    padding: 10px 20px;
    padding-left: 20px;
}

#sec-confirm .img-lo-icon p {
    font-size: 16px;
    color: white;
    font-weight: 300;
}

#sec-confirm .hh-text-h p {
    font-size: 16px;
    color: white;
    font-weight: 300;
}

#sec-confirm .img-lo-icon2 {
    width: 23%;
    margin-left: 109px;
    margin-top: -41px;
}

#sec-confirm .img-lo-icon3 {
    width: 23%;
    margin-left: 121px;
    margin-top: -41px;
}

#sec-confirm .date-detail-text-t p {
    font-size: 12px;
    color: white;
    font-weight: 300;
    padding-top: 10px;
}

#sec-confirm .date-detail-text-t2 p {
    font-size: 12px;
    color: white;
    font-weight: 300;
    margin-top: -10px;
}

#sec-confirm .price-text-t p {
    font-size: 16px;
    color: white;
    font-weight: 300;
}

#sec-confirm .card6 {
    background-color: #3F3F3F;
    height: 160px;
}

#sec-confirm .card6 .form-check {
    font-size: 16px;
    color: white;
    font-weight: 300;
    padding-top: 20px;
}

#sec-confirm .card6 .form-check font {
    font-size: 16px;
    color: #E8D95F;
    font-weight: 300;
}

#sec-confirm .d-detail-t-card6 p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    padding: 20px;
}

#sec-confirm .d-detail-t2-card6 p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    padding-left: 20px;
    margin-top: -31px;
}

#sec-confirm .d-detail-t3-card6 p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    padding-left: 20px;
    margin-top: -10px;
    
}

.button1 {
    background-color: #E8D95F;
    color: #282828;
    border: 2px solid #E8D95F;
}

.button1:hover {
    background-color: #282828;
    color: #E8D95F;
}

.button2 {
    background-color: #E8D95F;
    color: black;
    border: 2px solid #E8D95F;
}

.button2:hover {
    background-color: #282828;
    color: #E8D95F;
}

.button3 {
    background-color: #4F4F4F;
    color: white;
    border: 2px solid #4F4F4F;
}

.button3:hover {
    background-color: #828282;
    color: white;
    border: 2px solid #828282;
}

.button6 {
    background-color: #E8D95F;
    color: #282828;
    border: 2px solid #E8D95F;
} 

.button6:hover {
    background-color: #282828;
    color: #E8D95F;
    border: 2px solid #E8D95F;
}

.text-t-date p {
    font-size: 18px;
    color: white;
    font-weight: 300;
    float: right;
    margin-top: -43px;
}

.box-card-body {
    background-color: #595858;
    border: 2px solid #E8D95F;
}




.text-detail-t p {
    font-size: 16px;
    color: #E8D95F;
    padding-left: 20px;
    font-weight: 200;
    text-decoration: underline;
}

#sec-confirm .card7 .w3-button {
    color: #e8d95f !important;
    background-color: #3f3f3f !important;
}

#sec-confirm .card7 .w3-button:hover {
    color: #e8d95f !important;
    background-color: #3f3f3f !important;
}






.button7 {
    background-color: #4F4F4F;
    color: white;
    border: 2px solid #4F4F4F;
}

.button7:hover {
    background-color: #828282;
    color: white;
    border: 2px solid #828282;
}

.box-de-detail {
    padding-top: 50px;
}

.txt-haer-txt-d p {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.txt-detail-txt-d p {
    font-size: 18px;
    color: #BDBDBD;
    font-weight: 200;
}

.box-vidio-b {
    padding-top: 20px;
}

.tt-text-vidio p {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.box-check-b {
    padding-top: 40px;
}

.tt-text-check p {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

#sec-confirm .box__model .txt__model {
    color: #0dcaf0;
    display: inline-block;
    font-size: 1.15rem;
    margin-left: 5px;
    margin-bottom: 0;
    font-weight: 400;
}

.tt-b-box1 p {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.tt-b-box2 p {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.box-b-img {
    background-color: #4F4F4F;
    padding: 20px;
    border-radius: 6px;
}

.t-code-img P {
    font-size: 18px;
    color: white;
    font-weight: 300;
    padding-top: 20px;
}

.box-pay-b {
    padding-top: 40px;
}

review.tt-text-pay p {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.tt-text-pay p {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.text-date-t p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    padding-top: 10px;
}

.logo-img-mark {
    margin-left: 20px;
    margin-top: 21px;
}


.but-but-review button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    background-color: #2f2f2f;
    border: 1px solid #e8d95f;
    border-radius: 6px;
    color: #e8d95f;
    margin-right: 15px;
    font-family: "Kanit", sans-serif;
}

.w3-button:hover {
    color: #2f2f2f !important;
    background-color: #e8d95f !important;
    border-radius: 6px;
}






/* The ccheckk */
.ccheckk {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.ccheckk input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.ccheckk .checkmark {
    position: absolute;
    top: 5px;
    left: 6px;
    height: 19px;
    width: 19px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.ccheckk:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.ccheckk input:checked~.checkmark {
    background-color: #eee;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.ccheckk .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.ccheckk input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.ccheckk .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #282828;
}








#id08 .ttext-rabu-text-t .form-control {
    display: block;
    width: 30%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    margin-left: 33px;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: #616161;
    background-clip: padding-box;
    border: 1px solid #616161;
}



#id08 .text-t-check-text label {
    font-size: 14px;
    color: white;
}


/* The con-cerm */
.con-persent {
    display: block;
    position: relative;
    margin-bottom: 12px;
    margin-top: 8px;
    margin-left: 45px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.con-persent input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.con-persent .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.con-persent:hover input~.checkmark {
    background-color: #eee;
}

/* When the radio button is checked, add a blue background */
.con-persent input:checked~.checkmark {
    background-color: #eee;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.con-persent .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.con-persent input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.con-persent .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #282828;
}


#id08 .text-check-text label {
    color: white;
    font-size: 14px;
}



/* The box-ch-box */
.box-ch-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.box-ch-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: white;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.box-ch-box:hover input~.checkmark-box {
    background-color: white;
}

/* When the checkbox is checked, add a blue background */
.box-ch-box input:checked~.checkmark-box {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-box:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.box-ch-box input:checked~.checkmark-box:after {
    display: block;
}

/* Style the checkmark/indicator */
.box-ch-box .checkmark-box:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #373737;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}




/* The con-cerm-con */
.con-cerm-con {
    display: block;
    position: relative;
    padding-left: 62px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.con-cerm-con input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.con-cerm-con .checkmark {
    position: absolute;
    top: 0;
    left: 33px;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.con-cerm-con:hover input~.checkmark {
    background-color: #eee;
}

/* When the radio button is checked, add a blue background */
.con-cerm-con input:checked~.checkmark {
    background-color: #eee;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.con-cerm-con .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.con-cerm-con input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.con-cerm-con .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #282828;
}


.tt-text-niti-re p {
    margin-top: 10px;
}

.t-card-textcard p {
    font-size: 16px;
    color: white;
    margin: 10px 0px 0px 15px;
}

.img-text-img {
    margin-top: 8px;
    margin-left: -15px;
}

.t-card-textcard2 p {
    font-size: 16px;
    color: #6FCF97;
    margin: 10px 0px 0px -40px;
}

.t-card-textcard3 p {
    font-size: 16px;
    color: white;
    float: right;
    margin: 10px 0px 0px 0px;
}

.t-card-textcard4 p {
    font-size: 16px;
    color: white;
    margin: -1px 57px 0px 0px;
    float: right;
}

.button5 {
    background: #4F4F4F;
    color: white;
    border: 2px solid #4F4F4F;
}


.button5:hover {
    background-color: #302e2e;
    color: white;
    border: 2px solid #302e2e;
}







