.txt__detail {
    color: #ff7b7b;
}

.txt__detail2 {
    color: #ff7b7b;
}

.txt__detail3 {
    color: #ff7b7b;
}

.txt__price {
    font-size: 30px;
}

.box__sta {
    margin-bottom: 0;
    float: right;
}

.txt__close {
    color: white;
    margin-top: 43px;
    margin-left: 122px;
}
       
.box__navleft .nav_list {
    height: 550px;
    width: 75%;
    overflow-y: auto;
    background-color: #3f3f3f;
}

#history-request .box__contentmain {
    background-color: var(--clrdarks6);
    margin-top: 3rem;
    border-radius: 4px;
    margin-left: -100px;
}




