#sec-regis5 {
    padding: 100px;
    background-color: #282828;
}

#sec-regis5 .box-b-login {
    background-color: #3f3f3f;
    box-shadow: rgba(84, 85, 86, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    margin: 20px;
}

#sec-regis5 .text-log-back {
    background-color: #3f3f3f;
}

#sec-regis5 .h-text-log p {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    text-align: center;
    margin-top: 30px;
}

#sec-regis5 .tt-text-log p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    color: #bdbdbd;
}

#sec-regis5 .text-or-t {
    margin-left: -33px;
}

#sec-regis5 .t-pass-t {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    /* gold */
    color: #e8d95f;
}

#sec-regis5 label {
    display: inline-block;
    color: white;
}

#sec-regis5 .tt-text-send p {
    font-size: 14px;
    font-weight: 300;
    padding: 5px;
    color: white;
}

#sec-regis5 .tt-text-send2 p {
    font-size: 14px;
    font-weight: 300;
    padding: 5px;
    color: #e8d95f;
}

#sec-regis5 .tt-text-send3 p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    padding: 5px;
}

#sec-regis5 .text-t-log p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    display: flex;
    color: #ff7b7b;
    padding: 3px;
}

.drop-zone {
    max-width: 156px;
    height: 158px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    background-color: #ffffff0f;
    /* border: 4px dashed #009578; */
    border-radius: 10px;
    margin-left: 91px;
}

.drop-zone p {
    font-size: 13px;
    font-family: "Prompt", sans-serif;
    color: white;
    margin-top: 5px;
}

.drop-zone__input {
    display: none;
}

.text-size-tt p {
    font-size: 13px;
    color: #b4aeae;
}

.text-size-t p {
    font-size: 13px;
    color: #b4aeae;
    margin-top: -16px;
}

.text-tt-img-detail p {
    font-size: 14px;
    color: white;
    margin-top: -13px;
}

.box-b-detail {
    overflow-y: scroll;
    height: 300px;
    overflow-x: hidden;
    padding: 0 15px 0 0;
}

#sec-regis5 .input-group > .form-control,
.input-group > .form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    border-top: 2px solid #828282;
    border-left: 2px solid #828282;
    border-right: 2px solid #828282;
    border-bottom: 2px solid #828282;
    background-color: #333333;
    color: white;
    border-radius: 4px;
    margin-right: 2px;
}

#sec-regis5 .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.button {
    background-color: #e8d95f;
    border: none;
    color: #282828;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5rem !important;
    width: 100% !important;
}

.button1 {
    background-color: #e8d95f;
    color: black;
    border: 2px solid #e8d95f;
}

.button1:hover {
    background-color: #282828;
    color: #e8d95f;
}

.button2 {
    background-color: #282828;
    color: #e8d95f;
    border: 2px solid #e8d95f;
    padding: 10px 138px 10px 139px;
}

.button2:hover {
    background-color: #e8d95f;
    color: #282828;
}

#sec-regis5 .social-log {
    margin-top: 15px;
    margin-left: 101px;
}

#sec-regis5 .text-or-t p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120.5%;
    /* identical to box height, or 22px */
    text-align: center;
    color: #bdbdbd;
    margin-top: 20px;
}

/*---- ปรับ scrollbar ------*/
.box-b-detail {
    overflow-y: scroll;
    height: 300px;
    overflow-x: hidden;
    padding: 0 15px 0 0;
}

/* width */
.box-b-detail::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.box-b-detail::-webkit-scrollbar-track {
    background-color: #dddddd;
    border-radius: 100px;
}

/* Handle */
.box-b-detail::-webkit-scrollbar-thumb {
    background-color: #e4e4e4;
    border-radius: 100px;
}

/* Handle on hover */
.box-b-detail::-webkit-scrollbar-thumb {
    background-color: #5d5b59;
    border-radius: 100px;
}

#sec-regis5 .on {
    display: block !important;
}

#sec-regis5 .contenttab {
    display: none;
}

.dot__color {
    color: rgb(224, 91, 91);
    margin-left: 5px;
}
